<section class="button-back-container">
  <app-buttonback></app-buttonback>
</section>
@if (this.messageService.messageData(); as data) {
  <section class="message-noti">
    <div
      [ngClass]="{
        'text-red-500': data.tipo === 'error',
        'text-primary': data.tipo === 'exito',
      }"
      class="message-noti-text"
    >
      {{ data.mensaje }}
    </div>
  </section>
}

<section class="managements-time-global-container">
  <h2 class="management-title-time">
    {{ 'MANAGEMENT_SCHEDULES.TITLE' | translate }}
  </h2>

  <main class="management-time-global-form">
    <app-inputs
      name="time"
      [label]="'MANAGEMENT_SCHEDULES.FORM.START_TIME' | translate"
      type="time"
      [control]="getCtrl('hora')"
      step="1800"
    >
    </app-inputs>
    <div class="management-time-global-day-week">
      <label class="management-time-global-day-label">
        {{ 'MANAGEMENT_SCHEDULES.FORM.DAY_LABEL' | translate }}
      </label>
      <div class="relative w-full">
        <select
          name="dia"
          [formControl]="getCtrl('dia')"
          class="management-time-global-select"
          [ngClass]="{
            'border-red-500 dark:border-red-700':
              getCtrl('dia').invalid && (getCtrl('dia').dirty || getCtrl('dia').touched),
          }"
        >
          <option value="" disabled selected>
            {{ 'MANAGEMENT_SCHEDULES.FORM.SELECT_DAY' | translate }}
          </option>

          @for (dia of dias_semana; track dia.valor) {
            <option [value]="dia.valor" class="register-form-options">
              {{ dia.label | translate }}
            </option>
          }
        </select>
      </div>
    </div>
  </main>
  <footer class="management-time-global-btn-container">
    <app-button
      [label]="
        (isEditing ? 'MANAGEMENT_SCHEDULES.FORM.SAVE' : 'MANAGEMENT_SCHEDULES.FORM.ADD') | translate
      "
      variant="primary"
      (click)="onSave()"
      [disabled]="isLoading()"
    >
    </app-button>
    @if (isEditing) {
      <app-button
        [label]="'MANAGEMENT_SCHEDULES.FORM.CANCEL' | translate"
        variant="secondary"
        (click)="resetForm()"
      >
      </app-button>
    }
  </footer>
</section>
<section class="management-time-global-table-container">
  <h2 class="management-time-global-table-title">
    {{ 'MANAGEMENT_SCHEDULES.LIST.TITLE' | translate }}
  </h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 w-full">
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef class="text-label management-global-text">
        {{ 'MANAGEMENT_SCHEDULES.TABLE.TIME' | translate }}
      </th>
      <td mat-cell *matCellDef="let horario" class="text-label management-global-text">
        {{ horario.hora }}
      </td>
    </ng-container>
    <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef class="text-label management-global-text">
        {{ 'MANAGEMENT_SCHEDULES.TABLE.DAY' | translate }}
      </th>
      <td mat-cell *matCellDef="let horario" class="text-label management-global-text">
        {{ tradus_dias[horario.dia_semana] | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-label management-global-text text-center"
      ></th>
      <td mat-cell *matCellDef="let horario" class="text-label management-global-text">
        <div class="management-time-global-actions">
          <app-button
            [label]="'MANAGEMENT_SCHEDULES.TABLE.EDIT' | translate"
            variant="primary"
            (click)="onEdit(horario)"
            [disabled]="isLoading()"
          >
          </app-button>
          <app-button
            [label]="'MANAGEMENT_SCHEDULES.TABLE.DELETE' | translate"
            variant="secondary"
            (click)="onDelete(horario.id_horario!)"
            [disabled]="isLoading()"
          >
          </app-button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-50"></tr>
  </table>
</section>
