<footer
  class="footer-container "
  role="contentinfo"
  [attr.aria-label]="'FOOTER.ACCESSIBILITY.FOOTER_SECTION' | translate"
>
  <nav [attr.aria-label]="'FOOTER.ACCESSIBILITY.NAV_LABEL' | translate" class="footer-nav">
    <a routerLink="/terms" class="footer-text animate-text-up">
      {{ 'FOOTER.LEGAL_ASPECTS' | translate }}
    </a>
    <a routerLink="/terms" class="footer-text animate-text-up delay-150">
      {{ 'FOOTER.PRIVACY_POLICTICS' | translate }}
    </a>
    <a routerLink="/cookies_politics" class="footer-text animate-text-up delay-300">
      {{ 'FOOTER.COOKIES_POLICIES' | translate }}
    </a>
  </nav>
</footer>
