<div class="flex justify-center items-center gap-10 md:gap-80 py-20 bg-primary">
  <a
    [routerLink]="homeLink()"
    class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
  >
    {{ 'FOOTER.HOME' | translate }}
  </a>
  <a
    routerLink="/contact"
    class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
  >
    {{ 'FOOTER.CONTACT' | translate }}
  </a>
  <a
    routerLink="/about-us"
    class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
  >
    {{ 'FOOTER.ABOUT' | translate }}
  </a>
  <a
    routerLink="/manuals"
    class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
  >
    {{ 'FOOTER.MANUALS' | translate }}
  </a>

  <div class="flex flex-row gap-4">
    <button
      (click)="cambiarIdioma('es')"
      class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
    >
      ES
    </button>
    <span class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
      >|</span
    >
    <button
      (click)="cambiarIdioma('en')"
      class="text-label text-surface hover:text-accent transition-colors cursor-pointer"
    >
      EN
    </button>
  </div>
</div>
