<section class="login-modal-container">
  <header class="w-full flex justify-end p-10">
    <button 
      mat-dialog-close 
      aria-label="Cerrar ventana" 
      class="modal-close-btn"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2" 
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </header>

  <h1 mat-dialog-title class="login-modal-title">
    @if (modoActual === 'login') {
      {{ 'LOGIN_MODAL.TITLES.LOGIN' | translate }}
    } @else if (modoActual === 'registro') {
      {{ 'LOGIN_MODAL.TITLES.REGISTER' | translate }}
    } @else if (modoActual === 'recuperar') {
      {{ 'LOGIN_MODAL.TITLES.RECOVER' | translate }}
    } @else if (modoActual === 'reenviar') {
      {{ 'LOGIN_MODAL.TITLES.RESEND' | translate }}
    } @else {
      {{ 'LOGIN_MODAL.TITLES.NOTITLE' | translate }}
    }
  </h1>

  @if (modoActual === 'login') {
    <form [formGroup]="loginForm" class="login-login-form">
      <div class="login-login-form-div">
        <mat-dialog-content class="login-form-reset">
          <app-inputs
            name="email"
            [label]="'LOGIN_MODAL.LABELS.EMAIL' | translate"
            [control]="getCtrl('email')"
            [errorMessage]="
              getCtrl('email').invalid && getCtrl('email').touched
                ? ('LOGIN_MODAL.HINTS.EMAIL_ERROR' | translate)
                : ''
            "
          >
          </app-inputs>

          <app-inputs
            name="password"
            [label]="'LOGIN_MODAL.LABELS.PASSWORD' | translate"
            type="password"
            [control]="getCtrl('password')"
            [errorMessage]="
              getCtrl('password').invalid &&
              getCtrl('password').hasError('pattern') &&
              getCtrl('password').touched
                ? ('LOGIN_MODAL.HINTS.PASS_PATTERN' | translate)
                : ''
            "
          ></app-inputs>
        </mat-dialog-content>
      </div>

      <mat-dialog-actions class="login-other-actions">
        <app-button
          [label]="'LOGIN_MODAL.BTN.ENTER' | translate"
          variant="primary"
          type="submit"
          (click)="toEnterApp()"
          [disabled]="loginForm.invalid"
        ></app-button>
        <app-button
          [label]="'LOGIN_MODAL.BTN.FORGOT' | translate"
          variant="secondary"
          type="button"
          (click)="modoActual = 'recuperar'"
        ></app-button>
        <app-button
          [label]="'LOGIN_MODAL.BTN.RESEND' | translate"
          variant="secondary"
          type="button"
          (click)="modoActual = 'reenviar'"
        ></app-button>
        <app-button
          [label]="'LOGIN_MODAL.BTN.REGISTER' | translate"
          variant="primary"
          type="button"
          (click)="modoActual = 'registro'"
        ></app-button>
      </mat-dialog-actions>
    </form>
  }
  @if (modoActual === 'recuperar') {
    <main class="login-recuperar-container">
      <div class="login-login-form-div mb-6">
        <p class="login-subtitle">
          {{ 'LOGIN_MODAL.HINTS.RECOVER_DESC' | translate }}
        </p>
        <mat-dialog-content class="login-form-reset">
          <app-inputs
            name="emailRecuperacion"
            [label]="'LOGIN_MODAL.LABELS.EMAIL' | translate"
            [control]="emailCtrl"
          >
          </app-inputs>
        </mat-dialog-content>
      </div>

      <mat-dialog-actions class="login-other-actions">
        <app-button
          [label]="'LOGIN_MODAL.BTN.SEND_LINK' | translate"
          variant="primary"
          type="button"
          (click)="toRecoverPasswd()"
        ></app-button>

        <app-button
          [label]="'LOGIN_MODAL.BTN.BACK_LOGIN' | translate"
          variant="secondary"
          type="button"
          (click)="modoActual = 'login'"
        ></app-button>
      </mat-dialog-actions>
    </main>
  }
  @if (modoActual === 'registro') {
    <main class="login-registro-container">
      <mat-dialog-actions class="login-other-actions">
        <app-button
          [label]="'LOGIN_MODAL.BTN.REG_USER' | translate"
          variant="primary"
          [routerLink]="['/register']"
          [state]="{ tipo: 'usuario' }"
          mat-dialog-close
        ></app-button>

        <app-button
          [label]="'LOGIN_MODAL.BTN.REG_COMPANY' | translate"
          variant="primary"
          [routerLink]="['/register']"
          [state]="{ tipo: 'empresa' }"
          mat-dialog-close
        ></app-button>

        <app-button
          [label]="'LOGIN_MODAL.BTN.HAVE_ACCOUNT' | translate"
          variant="secondary"
          (click)="modoActual = 'login'"
        ></app-button>
      </mat-dialog-actions>
    </main>
  }

  @if (modoActual === 'reenviar') {
    <main class="w-full flex flex-col items-center">
      <div class="login-login-form-div mb-6">
        <p class="login-subtitle">
          {{ 'LOGIN_MODAL.LABELS.RESEND' | translate }}
        </p>
        <mat-dialog-content class="login-form-reset">
          <app-inputs
            name="emailresend"
            [label]="'LOGIN_MODAL.LABELS.EMAIL' | translate"
            [control]="emailCtrl"
          >
          </app-inputs>
        </mat-dialog-content>
      </div>

      <mat-dialog-actions class="login-other-actions">
        <app-button
          (click)="toRecoverEmail()"
          [label]="'LOGIN_MODAL.BTN.SEND_LINK' | translate"
          type="button"
          variant="primary"
        ></app-button>
      </mat-dialog-actions>
    </main>
  }

  @if (messageService.messageData(); as data) {
    <footer
      [ngClass]="{
        'text-red-500 dark:text-red-dark': data.tipo === 'error',
        'text-green-600 dark:text-green-300': data.tipo === 'exito',
      }"
      class="login-form-label-base text-label"
    >
      {{ data.mensaje }}
    </footer>
  }
</section>
