<div 
  class="dropdown-container w-full relative" 
  role="combobox" 
  [attr.aria-expanded]="isOpen" 
  aria-haspopup="listbox"
  [attr.aria-controls]="name() + '-listbox'"
  [attr.aria-owns]="name() + '-listbox'"
>
  <section 
    class="dropdown-inner-container flex items-center justify-between cursor-pointer w-full p-3 md:p-4" 
    (click)="toggleDropdown()"
    tabindex="0"
    role="button"
    [attr.aria-haspopup]="'listbox'"
    (keydown.arrowdown)="toggleDropdown()" 
    (keyup.enter)="toggleDropdown()"
    [attr.aria-label]="label | translate"
    [id]="name() + '-trigger'"
  >
    <span class="dropdown-title truncate mr-2">
      {{ selectedOption || label | translate }}
    </span>
    
    <svg
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="dropdown-icon w-5 h-5 transition-transform duration-200"
      [class.rotate-180]="isOpen"
    >
      <path d="m6 9 6 6 6-6" />
    </svg>
  </section>

  @if (isOpen) {
    <section 
      [id]="name() + '-listbox'"
      class="dropdown-open-container options-list absolute z-50 w-full mt-1 max-h-60 overflow-y-auto shadow-lg rounded-md"
      role="listbox"
      [attr.aria-labelledby]="name() + '-trigger'"
    >
      @for (option of options; track option; let i = $index) {
        <div 
          [id]="name() + '-option-' + i"
          class="option-item dropdown-options p-3 md:p-4 cursor-pointer hover:bg-opacity-10 transition-colors" 
          (click)="selectOption(option)"
          role="option"
          [attr.aria-selected]="selectedOption === option"
          (keyup.enter)="selectOption(option)"
        >
          {{ option | translate }}
        </div>
      }
    </section>
  }
</div>