<div class="dropdown-container w-full max-w-xs">
  <div
    class="flex justify-around items-center p-2 rounded-12 border-2 cursor-pointer transition-all border-disabled hover:border-accent focus:border-primary"
    (click)="toggleDropdown()"
  >
    <span class="text-secondary text-label">
      {{ selectedOption || label | translate }}
    </span>

    <img
      src="assets/icons/dropdown.png"
      class="h-4 w-4 transition-transform duration-300"
      [class.rotate-180]="isOpen"
    />
  </div>
  @if (isOpen) {
  <div class="options-list mt-2 bg-surface rounded-12 overflow-hidden">
    @for (option of options; track option) {
    <div
      class="option-item p-3 border-2 border-disabled hover:border-accent cursor-pointer text-primary text-label transition-colors focus:border-primary"
      (click)="selectOption(option)"
    >
      {{ option | translate }}
    </div>
    }
  </div>
  }
</div>
