<section
  class="service-modal-container"
  role="dialog"
  aria-modal="true"
  [attr.aria-label]="
    (isEditing
      ? 'SERVICE_TIME_MODAL.ACCESSIBILITY.EDIT_TITLE'
      : 'SERVICE_TIME_MODAL.ACCESSIBILITY.CREATE_TITLE'
    ) | translate
  "
>
  <header class="header-modal">
    <button
      mat-dialog-close
      [attr.aria-label]="'SERVICE_TIME_MODAL.ACCESSIBILITY.CLOSE' | translate"
      class="modal-close-btn"
    >
      <app-close-btn></app-close-btn>
    </button>
  </header>

  <form [formGroup]="form" class="service-form-container">
    <app-inputs
      name="description"
      [label]="'SERVICE_TIME_MODAL.LABELS.DESCRIPTION' | translate"
      [control]="getCtrl('description')"
      [errorMessage]="getErrorMessage('description')"
      class="w-full"
    ></app-inputs>

    <div class="service-select-container">
      <label class="service-global-services" for="id_service">
        {{ 'SERVICE_TIME_MODAL.LABELS.GLOBAL_SERVICE' | translate }}
      </label>

      <div class="relative w-full">
        <select
          id="id_service"
          formControlName="id_service"
          class="service-form-select"
          [attr.aria-invalid]="form.get('id_service')?.invalid && form.get('id_service')?.touched"
        >
          <option value="" disabled selected class="select-option-disabled">
            {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.SELECT_SERVICE' | translate }}
          </option>

          @for (s of services$ | async; track s.id_service) {
            <option [value]="s.id_service" class="service-form-options">
              {{ s.name }} - {{ s.type_service }}
            </option>
          } @empty {
            <option disabled>
              {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.LOADING_SERVICES' | translate }}
            </option>
          }
        </select>
        <div class="service-form-select-arrow">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
      </div>
    </div>

    <app-inputs
      name="price"
      [label]="'SERVICE_TIME_MODAL.LABELS.PRICE' | translate"
      [control]="getCtrl('price')"
      placeholder="0.00"
      [errorMessage]="getErrorMessage('price')"
      class="w-full"
    ></app-inputs>

    <div class="service-select-container">
      <label class="service-global-services" for="id_time">
        {{ 'SERVICE_TIME_MODAL.LABELS.AVAILABLE_SCHEDULE' | translate }}
      </label>

      <div class="relative w-full">
        <select
          id="id_time"
          formControlName="id_time"
          class="register-form-select"
          [attr.aria-invalid]="form.get('id_time')?.invalid && form.get('id_time')?.touched"
        >
          <option value="" disabled selected class="select-option-disabled">
            {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.SELECT_TIME' | translate }}
          </option>
          @for (h of times$ | async; track h.id_time) {
            <option [value]="h.id_time" class="register-form-options">
              {{ h.week_day }} - {{ h.time }}
            </option>
          } @empty {
            <option disabled>
              {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.LOADING_TIMES' | translate }}
            </option>
          }
        </select>
        <div class="register-form-select-arrow">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </form>

  <footer class="service-btn-container">
    <app-button
      [label]="
        (isEditing ? 'SERVICE_TIME_MODAL.BTN.UPDATE' : 'SERVICE_TIME_MODAL.BTN.CREATE') | translate
      "
      variant="primary"
      [disabled]="form.invalid"
      (click)="save()"
      [attr.aria-label]="
        (isEditing
          ? 'SERVICE_TIME_MODAL.ACCESSIBILITY.UPDATE_DESC'
          : 'SERVICE_TIME_MODAL.ACCESSIBILITY.CREATE_DESC'
        ) | translate
      "
    ></app-button>
  </footer>
</section>