<div class="service-modal-container">
  <div class="w-full flex justify-end p-6">
    <svg
      mat-dialog-close
      xmlns="http://www.w3.org/2000/svg"
      class="modal-close-btn"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="4"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>

  <form [formGroup]="form" class="service-form-container">
    <app-inputs
      name="descripcion"
      [label]="'SERVICE_TIME_MODAL.LABELS.DESCRIPTION' | translate"
      [control]="getCtrl('descripcion')"
      [errorMessage]="getErrorMessage('descripcion')"
      class="w-full"
    ></app-inputs>

    <div class="service-select-container">
      <label class="service-global-services">
        {{ 'SERVICE_TIME_MODAL.LABELS.GLOBAL_SERVICE' | translate }}
      </label>

      <div class="relative w-full">
        <select id="id_servicio" formControlName="id_servicio" class="register-form-select">
          <option value="" disabled selected class="select-option-disabled">
            {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.SELECT_SERVICE' | translate }}
          </option>

          @for (s of servicios$ | async; track s.id_servicio) {
            <option [value]="s.id_servicio" class="register-form-options">
              {{ s.nombre }} - {{ s.tipo_servicio }}
            </option>
          } @empty {
            <option disabled>
              {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.LOADING_SERVICES' | translate }}
            </option>
          }
        </select>
        <div class="register-form-select-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
      </div>
    </div>

    <app-inputs
      name="precio"
      [label]="'SERVICE_TIME_MODAL.LABELS.PRICE' | translate"
      [control]="getCtrl('precio')"
      placeholder="0.00"
      [errorMessage]="getErrorMessage('precio')"
      class="w-full"
    ></app-inputs>

    <div class="service-select-container">
      <label class="service-global-services">
        {{ 'SERVICE_TIME_MODAL.LABELS.AVAILABLE_SCHEDULE' | translate }}
      </label>

      <div class="relative w-full">
        <select id="id_horario" formControlName="id_horario" class="register-form-select">
          <option value="" disabled selected class="select-option-disabled">
            {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.SELECT_TIME' | translate }}
          </option>
          @for (h of horarios$ | async; track h.id_horario) {
            <option [value]="h.id_horario" class="register-form-options">
              {{ h.dia_semana }} - {{ h.hora }}
            </option>
          } @empty {
            <option disabled>
              {{ 'SERVICE_TIME_MODAL.PLACEHOLDERS.LOADING_TIMES' | translate }}
            </option>
          }
        </select>
        <div class="register-form-select-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </form>

  <div class="service-btn-container">
    <app-button
      [label]="
        (isEditing ? 'SERVICE_TIME_MODAL.BTN.UPDATE' : 'SERVICE_TIME_MODAL.BTN.CREATE') | translate
      "
      variant="primary"
      [disabled]="form.invalid"
      (click)="save()"
    ></app-button>
  </div>
</div>
