@if (currentUser?.rol !== 'administrador') {
  <section class="soporte-container">
    @if (isOpen) {
      <div class="soporte-container-open animate-fade-in-up">
        <header class="soporte-icon">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
              ></path>
            </svg>
            <h3 class="soporte-title">{{ 'SUPPORT_WIDGET.HEADER_TITLE' | translate }}</h3>
          </div>
          <button (click)="toggleChat()" class="soporte-btn-toggle" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </header>

        <main class="soporte-message-container">
          <div class="text-center">
            <h4 class="soporte-subtitle">{{ 'SUPPORT_WIDGET.HELP_TITLE' | translate }}</h4>
            <p class="soporte-text">{{ 'SUPPORT_WIDGET.HELP_DESCRIPTION' | translate }}</p>
          </div>

          <div class="sorpote-form">
            <label class="soporte-form-label">
              {{ 'SUPPORT_WIDGET.MESSAGE_LABEL' | translate }}
            </label>
            <textarea
              [(ngModel)]="newMessage"
              rows="4"
              [placeholder]="'SUPPORT_WIDGET.MESSAGE_PLACEHOLDER' | translate"
              class="soporte-text-area"
            ></textarea>
          </div>

          @if (messageSent) {
            <div class="soporte-sent animate-fade-in-up">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
              {{ 'SUPPORT_WIDGET.SUCCESS_MESSAGE' | translate }}
            </div>
          }
        </main>

        <footer class="soporte-btn-container">
          <button
            (click)="sendMessage()"
            [disabled]="!newMessage.trim() || isSending"
            class="soporte-send-btn"
            type="button"
          >
            @if (isSending) {
              <div class="soporte-sending-spinner"></div>
              {{ 'SUPPORT_WIDGET.SENDING_BTN' | translate }}
            } @else {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <line x1="22" y1="2" x2="11" y2="13"></line>
                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
              </svg>
              {{ 'SUPPORT_WIDGET.SEND_BTN' | translate }}
            }
          </button>
        </footer>
      </div>
    }

    <button (click)="toggleChat()" class="soporte-btn hover:bg-opacity-90" type="button">
      @if (!isOpen) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
          <path
            d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
          ></path>
        </svg>
      } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      }
    </button>
  </section>
}
