@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #344f51;
  --color-secondary: #51786e;
  --color-surface: #fafafa;
  --color-accent: #93d14b;
  --color-disabled: #afaeab;
  --color-red: #ff383c;
  --color-nav-border: #e4e4e4;

  --color-surface-dark: #0b1712;
  --color-app-dark: #1d3329;
  --color-dark-muted: #456568;
  --color-primary-dark: #0f2a1f;
  --color-secondary-dark: #16352a;
  --color-accent-dark: #6fbf73;
  --color-btn-dark: #9ccd78;
  --color-disabled-dark: #3d4a4b;
  --color-red-dark: #ff5c5f;
  --color-dark-surface-hover: #1a2628;
  --color-dark-border: #233436;
  --color-cards-dark: #1a2f26;
  --color-text-dark: #f1f5f4;
  --color-subtitle-dark: #a8b3af;

  /* Familias */
  --font-fraunces: 'Fraunces', serif;
  --font-poppins: 'Poppins', sans-serif;
  /* Peso */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-smibold: 600;
  --font-weight-bold: 700;

  /* --- TIPOGRAFÍA RESPONSIVA --- */
  --text-h1: 1.25rem;
  --text-h1--line-height: 1.2;
  --text-h1--font-family: var(--font-fraunces);
  --text-h1--font-weight: var(--font-weight-regular);

  --text-h2: 1rem;
  --text-h2--line-height: 1.2;
  --text-h2--font-family: var(--font-fraunces);
  --text-h2--font-weight: var(--font-weight-regular);

  --text-p: 0.875rem;
  --text-p--line-height: 1.2;
  --text-p--font-family: var(--font-poppins);
  --text-p--font-weight: var(--font-weight-medium);

  --text-label: 1rem;
  --text-label--line-height: 1.2;
  --text-label--font-family: var(--font-poppins);
  --text-label--font-weight: var(--font-weight-regular);

  --text-button: 1rem;
  --text-button--font-family: var(--font-poppins);

  --spacing-400: 25rem;
  --spacing-300: 18.75rem;
  --spacing-150: 9.375rem;
  --spacing-120: 7.5rem;
  --spacing-80: 5rem;
  --spacing-60: 3.75rem;
  --spacing-20: 1.25rem;
  --spacing-16: 1rem;
  --spacing-15: 0.938rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-8: 0.5rem;
  --spacing-6: 0.375rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-12: 0.75rem;
  --radius-full: 9999px;

  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.3);
}

@media (width >=48rem) {
  :root {
    --text-h1: 1.5rem;
    --text-h2: 1.25rem;
    --text-p: 1rem;
    --text-label: 0.875rem;
    --text-button: 0.875rem;
  }
}

@media (width >=64rem) {
  :root {
    --text-h1: 2rem;
    --text-h2: 1.5rem;
    --text-p: 1rem;
    --text-label: 1rem;
    --text-button: 1rem;
  }
}

@media (width >=80rem) {
  :root {
    --text-h1: 2.5rem;
    --text-h2: 1.75rem;
    --text-p: 1.125rem;
    --text-label: 1.125rem;
    --text-button: 1.125rem;
  }
}

@media (width >=96rem) {
  :root {
    --text-h1: 3rem;
    --text-h2: 2.5rem;
    --text-p: 1.5rem;
    --text-label: 1.75rem;
    --text-button: 1.5rem;
  }
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html,
  body {
    @apply m-0 p-0 h-full overflow-hidden;
  }

  body {
    @apply bg-surface dark:bg-surface-dark;
  }

  h1,
  h2,
  p,
  label {
    @apply m-0 p-0;
  }

  small {
    @apply max-w-1/2 2xl:max-w-4/5;
  }

  .cdk-overlay-pane .mat-mdc-select-panel {
    background-color: #ffffff !important;
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    border-radius: 0.75rem !important;
    border: 1px solid #f3f4f6 !important;
  }

  .cdk-overlay-container {
    z-index: 9999 !important;
  }

  .mat-mdc-paginator-outer-container {
    @apply !bg-surface dark:!bg-surface-dark;
  }

  .mat-mdc-paginator {
    @apply !bg-surface dark:!bg-surface-dark !text-primary dark:!text-surface py-20;
  }

  .mat-mdc-paginator .mat-mdc-icon-button {
    @apply !text-primary dark:!text-surface my-10;
  }

  .mat-mdc-paginator .mat-mdc-select-value {
    @apply flex justify-center text-center w-full;
  }

  .mat-mdc-select-value,
  .mat-mdc-select-arrow {
    @apply text-primary dark:text-surface;
  }

  .mat-mdc-dialog-surface {
    @apply bg-transparent dark:border dark:border-gray-200 rounded-12;
  }

  main {
    @apply flex-1;
  }

  .main-container {
    @apply flex flex-col min-h-dvh w-full overflow-x-hidden;
  }
}

@layer components {
  .cdk-overlay-pane .mat-mdc-select-panel {
    @apply bg-surface rounded-12 shadow-lg dark:bg-surface-dark;
  }

  html.dark .cdk-overlay-pane .mat-mdc-select-panel {
    @apply bg-surface-dark;
  }

  html.dark .mat-mdc-header-cell {
    @apply !border-b !border-white;
  }

  .main-container {
    @apply flex flex-col h-dvh;
  }

  .btn-disabled {
    @apply disabled:bg-disabled disabled:text-surface disabled:cursor-not-allowed dark:bg-disabled-dark;
  }

  .btn-primary {
    @apply bg-secondary text-surface hover:bg-accent dark:bg-btn-dark dark:text-surface-dark;
  }

  .btn-secondary {
    @apply bg-transparent text-primary underline hover:text-accent dark:text-btn-dark;
  }

  .btn-danger {
    @apply bg-red dark:bg-red-dark text-surface;
  }

  .button-base {
    @apply text-button rounded-12 transition-all duration-200 cursor-pointer flex items-center justify-center border-none px-10 py-6 md:px-15 md:py-8 lg:px-20 lg:py-10 disabled:bg-disabled h-full;
  }

  .button-back {
    @apply flex items-center gap-2 px-4 py-2 text-gray-500 dark:text-surface hover:text-gray-800 dark:hover:text-accent-dark transition-colors duration-200 focus:outline-none cursor-pointer;
  }

  .button-back-container {
    @apply w-full 2xl:m-4;
  }

  .button-back-text {
    @apply text-button text-primary dark:text-surface;
  }

  .header-container {
    @apply w-full mb-4;
  }

  .register-btn {
    @apply my-20;
  }

  .btn-toggle-dark-mode {
    @apply ml-4 mr-6 w-14 h-[32px] p-1;
    @apply rounded-full flex items-center shrink-0 cursor-pointer transition-colors duration-300 outline-none focus:outline-none border-none active:bg-btn-dark;
  }

  .span-toggle-dark-mode {
    @apply w-[24px] h-[24px];
    @apply bg-white rounded-full shadow-md flex items-center justify-center shrink-0 transition-transform duration-300 ease-in-out;
  }

  .mangment-admin-btn-container {
    @apply flex justify-center my-4 w-full items-center;
  }

  .modal-close-btn {
    @apply flex items-center justify-center
      bg-transparent border-none outline-none
      text-primary dark:text-surface
      hover:text-accent hover:bg-black/5 dark:hover:bg-white/10
      transition-all duration-200 ease-in-out cursor-pointer
      rounded-full
      !w-[24px] !h-[24px] md:!w-[32px] md:!h-[32px];
  }

  .management-global-text {
    @apply p-4 text-primary dark:text-surface;
  }

  .service-btn-container {
    @apply flex justify-end gap-4 mt-6 mb-10;
  }

  .select-option-disabled {
    @apply text-gray-400 dark:text-surface;
  }

  .header-modal {
    @apply w-full flex justify-end;
  }

  .animate-tooltip {
    animation: tooltip-entry 0.25s ease-out forwards;
  }

  .animate-text {
    animation: text-entry 2.4s ease-out forwards;
  }

  .animate-cards {
    animation: cards-entry 2s ease-out forwards;
  }

  .animate-pulse {
    animation: pulse-animation 2s ease-in-out infinite;
  }

  .animate-shadow-pulse {
    animation: shadow-pulse 2s infinite;
    border-radius: 0.75rem;
    display: inline-block;
  }

  .animate-text-up {
    opacity: 0;
    animation: text-up-animation 1.2s ease-out forwards;
  }

  .animation-opacity {
    opacity: 0;
    animation: opacity-animation 0.6s ease-in-out forwards;
  }

  .animation-heart-spin-reverse {
    animation: spin-reverse 3s linear infinite;
  }

  .animation-heartbeat {
    animation: heartbeat 1s ease-in-out infinite;
  }
}

@keyframes text-up-animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(81, 120, 110, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(81, 120, 110, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(81, 120, 110, 0);
  }
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tooltip-entry {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes text-entry {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cards-entry {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
