@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #344f51;
  --color-secondary: #51786e;
  --color-surface: #fafafa;
  --color-accent: #93d14b;
  --color-disabled: #afaeab;
  --color-red: #ff383c;
  --color-nav-border: #e4e4e4;

  --color-surface-dark: #0b1712;
  --color-app-dark: #1d3329;
  --color-dark-muted: #456568;
  --color-primary-dark: #0f2a1f;
  --color-secondary-dark: #16352a;
  --color-accent-dark: #6fbf73;
  --color-btn-dark: #9ccd78;
  --color-disabled-dark: #3d4a4b;
  --color-red-dark: #ff5c5f;
  --color-dark-surface-hover: #1a2628;
  --color-dark-border: #233436;
  --color-cards-dark: #1a2f26;
  --color-text-dark: #f1f5f4;
  --color-subtitle-dark: #a8b3af;

  /* Familias */
  --font-fraunces: 'Fraunces', serif;
  --font-poppins: 'Poppins', sans-serif;
  /* Peso */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-smibold: 600;
  --font-weight-bold: 700;

  /* --- TIPOGRAFÍA RESPONSIVA --- */
  --text-h1: 1.25rem;
  --text-h1--line-height: 1.2;
  --text-h1--font-family: var(--font-fraunces);
  --text-h1--font-weight: var(--font-weight-regular);

  --text-h2: 1rem;
  --text-h2--line-height: 1.2;
  --text-h2--font-family: var(--font-fraunces);
  --text-h2--font-weight: var(--font-weight-regular);

  --text-p: 0.875rem;
  --text-p--line-height: 1.2;
  --text-p--font-family: var(--font-poppins);
  --text-p--font-weight: var(--font-weight-medium);

  --text-label: 1rem;
  --text-label--line-height: 1.2;
  --text-label--font-family: var(--font-poppins);
  --text-label--font-weight: var(--font-weight-regular);

  --text-button: 1rem;
  --text-button--font-family: var(--font-poppins);
  --text-button--font-weight: var(--font-weight-semibold);

  --spacing-400: 25rem;
  --spacing-300: 18.75rem;
  --spacing-150: 9.375rem;
  --spacing-120: 7.5rem;
  --spacing-80: 5rem;
  --spacing-60: 3.75rem;
  --spacing-20: 1.25rem;
  --spacing-16: 1rem;
  --spacing-15: 0.938rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-8: 0.5rem;
  --spacing-6: 0.375rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-12: 0.75rem;
  --radius-full: 9999px;

  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.3);
}

@media (width >=48rem) {
  :root {
    --text-h1: 1.5rem;
    --text-h2: 1.25rem;
    --text-p: 1rem;
    --text-label: 0.875rem;
    --text-button: 0.875rem;
  }
}

@media (width >=64rem) {
  :root {
    --text-h1: 2rem;
    --text-h2: 1.5rem;
    --text-p: 1rem;
    --text-label: 1rem;
    --text-button: 1rem;
  }
}

@media (width >=80rem) {
  :root {
    --text-h1: 2.5rem;
    --text-h2: 1.75rem;
    --text-p: 1.125rem;
    --text-label: 1.125rem;
    --text-button: 1.125rem;
  }
}

@media (width >=96rem) {
  :root {
    --text-h1: 3rem;
    --text-h2: 2.5rem;
    --text-p: 1.5rem;
    --text-label: 1.75rem;
    --text-button: 1.5rem;
  }
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html,
  body {
    @apply m-0 p-0 h-full;
  }

  body {
    @apply bg-surface dark:bg-surface-dark;
  }

  h1,
  h2,
  p,
  label {
    @apply m-0 p-0;
  }

  small {
    @apply max-w-1/2 2xl:max-w-4/5;
  }

  .mat-mdc-paginator-outer-container {
    @apply !bg-surface dark:!bg-surface-dark;
  }

  .mat-mdc-paginator {
    @apply !bg-surface dark:!bg-surface-dark !text-primary dark:!text-surface py-20;
  }

  .mat-mdc-paginator .mat-mdc-icon-button {
    @apply !text-primary dark:!text-surface my-10;
  }

  .mat-mdc-paginator .mat-mdc-select-value {
    @apply flex justify-center text-center w-full;
  }

  .mat-mdc-select-value,
  .mat-mdc-select-arrow {
    @apply text-primary dark:text-surface;
  }

  /* modales */
  .mat-mdc-dialog-surface {
    @apply bg-transparent dark:border dark:border-gray-200 rounded-12;
  }

  main {
    @apply flex-1 overflow-x-hidden overflow-y-auto;
  }
}

@layer components {
  .table-admin {
    @apply mx-4 md:mx-12 overflow-hidden flex flex-col;
  }

  .table-admin-content {
    @apply w-full text-left;
  }

  .table-column-name {
    @apply text-primary dark:text-surface p-5 pl-8;
  }

  .table-admin-btn-container {
    @apply flex justify-end items-center gap-4 p-10;
  }

  .table-paginator-end {
    @apply border-t border-gray-200;
  }

  .main-container {
    @apply flex flex-col h-screen;
  }

  .btn-disabled {
    @apply disabled:bg-disabled disabled:text-surface disabled:cursor-not-allowed dark:bg-disabled-dark;
  }

  .btn-primary {
    @apply bg-secondary text-surface hover:bg-accent dark:bg-btn-dark dark:text-surface-dark;
  }

  .btn-secondary {
    @apply bg-transparent text-primary underline hover:text-accent dark:text-btn-dark;
  }

  .btn-danger {
    @apply bg-red dark:bg-red-dark text-surface;
  }

  .button-base {
    @apply text-button rounded-12 transition-all duration-200 cursor-pointer flex items-center justify-center border-none px-12 py-8 md:px-15 md:py-10 lg:px-20 lg:py-10 disabled:bg-disabled h-full w-full;
  }

  .button-table-contract {
    @apply !font-normal;
  }

  .button-back {
    @apply flex items-center gap-2 px-4 py-2 text-gray-500 dark:text-surface hover:text-gray-800 dark:hover:text-accent-dark transition-colors duration-200 focus:outline-none cursor-pointer;
  }

  .button-back-container {
    @apply w-full 2xl:m-4;
  }

  .button-back-text {
    @apply text-button text-primary dark:text-surface;
  }

  .animate-tooltip {
    animation: tooltip-entry 0.25s ease-out forwards;
  }

  .animate-text {
    animation: text-entry 2.4s ease-out forwards;
  }

  .animate-cards {
    animation: cards-entry 2s ease-out forwards;
  }

  .header-container {
    @apply w-full mb-4;
  }

  .about-container {
    @apply flex flex-col justify-center items-center p-20 md:px-20 xl:px-24;
  }

  .about-title {
    @apply text-h1 text-primary mt-10 mb-20 text-center dark:text-surface;
  }

  .about-description {
    @apply text-p text-secondary mb-20 md:mt-20 md:mb-20 dark:text-surface;
  }

  .about-list {
    @apply list-disc list-outside px-10 space-y-4 text-secondary text-p dark:text-surface mb-20 2xl:mb-24;
  }

  .about-list-title {
    @apply font-bold text-primary dark:text-accent-dark;
  }

  .about-sublist {
    @apply list-none ml-4 mt-2 space-y-2;
  }

  .about-sublist-title {
    @apply font-semibold text-primary dark:text-accent-dark;
  }

  .about-subtitle {
    @apply text-h2 mt-10 mb-20 2xl:mb-24 text-primary text-center dark:text-surface font-bold;
  }

  .about-grid {
    @apply h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-20 my-20 w-full;
  }

  .landing-container {
    @apply flex flex-col justify-center items-center w-full;
  }

  .hero-section {
    @apply relative w-full h-300 md:h-[50svh] 2xl:h-[600px] overflow-hidden flex items-end justify-center pb-12 md:pb-20;
  }

  .hero-image {
    @apply absolute inset-0 w-full h-full object-cover -z-10;
  }

  .hero-text-container {
    @apply text-center;
  }

  .hero-title {
    @apply text-h2 text-primary font-bold;
  }

  .hero-subtitle {
    @apply italic;
  }

  .services-section {
    @apply w-full overflow-hidden flex flex-col items-center justify-center;
  }

  .services-title {
    @apply text-center text-h1 text-primary dark:text-surface m-20 lg:m-[2rem] 2xl:m-[2.5rem] uppercase;
  }

  .services-grid {
    @apply h-full px-4 grid grid-cols-1 grid-rows-3 gap-10 md:grid-cols-2 md:grid-rows-2 md:grid-flow-col lg:grid-cols-3 lg:grid-rows-1 py-4;
  }

  .services-card-special {
    @apply md:row-span-2 md:self-center lg:row-span-1 lg:self-auto;
  }

  .recover-pass-container {
    @apply flex flex-col items-center h-2/3 justify-center gap-20 lg:gap-22;
  }

  .recover-pass-title {
    @apply text-h2 text-center text-primary mb-4 dark:text-surface;
  }

  .recover-pass-message {
    @apply text-label text-center mb-4 transition-all duration-300;
  }

  .recover-pass-text {
    @apply text-center text-secondary text-p p-6 dark:text-surface;
  }

  .recover-pass-form {
    @apply flex flex-col gap-14 2xl:gap-28;
  }

  .register-btn {
    @apply my-20;
  }

  .btn-toggle-dark-mode {
    @apply ml-4 mr-6 w-14 h-[32px] p-1;
    @apply rounded-full flex items-center shrink-0 cursor-pointer transition-colors duration-300 outline-none focus:outline-none border-none active:bg-btn-dark;
  }

  .span-toggle-dark-mode {
    @apply w-[24px] h-[24px];
    @apply bg-white rounded-full shadow-md flex items-center justify-center shrink-0 transition-transform duration-300 ease-in-out;
  }

  .footer-container {
    @apply flex flex-col items-center justify-between md:flex-row py-20 px-4 bg-primary dark:bg-app-dark;
  }

  .footer-text {
    @apply text-label text-surface hover:text-accent transition-colors cursor-pointer;
  }

  .nav-container {
    @apply relative flex justify-between items-center p-2 lg:p-10 border border-b-nav-border border-t-0 border-l-0 border-r-0 bg-surface min-h-20 z-50 dark:border-b-gray-800 dark:bg-surface-dark;
  }

  .nav-menu-icon {
    @apply text-primary focus:outline-none cursor-pointer;
  }

  .nav-menu-unified {
    @apply absolute top-full right-0 sm:w-auto bg-surface dark:bg-surface-dark border-b border-nav-border shadow-lg flex-col p-6 gap-6 z-40 md:static md:flex-row md:items-center md:p-0 md:border-none md:shadow-none md:gap-10 items-center;
  }

  .nav-authenticated-wrapper {
    @apply flex flex-col justify-center items-center gap-6 w-full md:flex-row md:gap-10 md:w-auto;
  }

  .nav-guest-wrapper {
    @apply flex flex-col gap-4 w-full md:flex-row md:w-auto;
  }

  .nav-icon-container {
    @apply relative flex items-center justify-center cursor-pointer p-2 md:p-0 border-b md:border-none border-gray-200 dark:border-gray-700 w-full md:w-auto;
  }

  .nav-menu-icon {
    @apply text-h2 text-primary dark:text-surface cursor-pointer;
  }

  .nav-icon-style {
    @apply text-primary dark:text-surface w-12 h-12 md:w-auto md:h-auto md:text-h2 transition-colors duration-200 hover:text-accent;
  }

  .nav-badge {
    @apply absolute top-0 right-1/3 md:-top-2 md:-right-2 bg-red-600 dark:bg-red-dark text-white text-[10px] md:text-xs rounded-full px-1.5 py-0.5 font-bold;
  }

  .cards-landing-container {
    @apply h-full bg-surface border border-nav-border dark:border-gray-200 dark:bg-surface-dark flex flex-col items-center text-center shadow-xs hover:shadow-soft transition-all duration-300;
  }

  .cards-landing-img-container {
    @apply w-full shrink-0 overflow-hidden relative;
  }

  .cards-text-container {
    @apply p-20 shadow-soft flex flex-col flex flex-col gap-2 min-h-40 lg:min-h-48 w-full flex-1;
  }

  .cards-landing-img {
    @apply w-full h-full aspect-video object-cover bg-surface;
  }

  .cards-landing-title {
    @apply font-fraunces text-h2 text-primary mb-10 dark:text-surface;
  }

  .cards-landing-cargo {
    @apply text-secondary font-semibold uppercase text-label dark:text-surface;
  }

  .cards-landing-description {
    @apply text-lg font-poppins text-secondary overflow-hidden dark:text-surface;
  }

  .manuals-container {
    @apply flex flex-col justify-center items-center px-6 py-10 md:px-12 lg:px-24 lg:py-20 w-full mb-4;
  }

  .manuals-download-container {
    @apply w-full grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-16 mt-10 items-stretch;
  }

  .manuals-title {
    @apply text-h1 text-primary mt-10 mb-20 text-center dark:text-surface;
  }

  .manuals-cards-container {
    @apply flex flex-col gap-20 justify-between items-center flex-1 h-full p-4;
  }

  .manuals-link {
    @apply md:w-48 md:h-11 xl:h-[4rem] 2xl:h-80 2xl:w-1/3;
  }

  .manual-video-container {
    @apply w-full p-10 justify-center flex flex-col gap-3 items-center;
  }

  .manual-video-btn {
    @apply bg-primary dark:bg-btn-dark text-white w-1/2 dark:text-surface-dark;
  }

  .terms-container {
    @apply flex flex-col items-center justify-center w-full px-6 pb-20;
  }

  .terms-header-container {
    @apply max-w-4xl w-full text-center mb-14 2xl:mb-22;
  }

  .terms-main {
    @apply max-w-4xl w-full bg-surface dark:bg-gray-100 border border-primary/10 rounded-2xl p-8 md:p-12 shadow-sm text-secondary;
  }

  .terms-title {
    @apply text-h1 text-primary font-poppins mb-4 dark:text-surface;
  }

  .terms-modification-date {
    @apply text-label text-gray-500 dark:text-gray-200;
  }

  .terms-subtitle {
    @apply text-h2 text-primary mb-6 border-b border-primary/20 pb-2;
  }

  .contact-container {
    @apply flex flex-col w-full justify-center items-center xl:gap-20 xl:mb-[3rem] xl:px-[2rem] lg:mb-[4rem] 2xl:mb-14;
  }

  .contact-title {
    @apply text-h1 text-primary mb-20 dark:text-surface;
  }

  .contact-form {
    @apply w-full flex flex-col items-center gap-20 px-80 lg:gap-[3rem];
  }

  .contact-form-divs {
    @apply w-full flex flex-col;
  }

  .contact-form-error {
    @apply text-label text-red-500 ml-2 dark:text-red-dark;
  }

  .contact-form-btn {
    @apply mt-6 w-22 h-[2.5rem] md:w-48 md:h-11 lg:w-52 lg:h-[3rem] xl:w-2xl xl:h-[4rem] 2xl:h-80;
  }

  .input-container {
    @apply flex flex-col items-start text-left justify-center w-full gap-2;
  }

  .input-label {
    @apply text-primary text-label font-poppins ml-1 dark:text-surface;
  }

  .input-text-area {
    @apply w-full pl-4 py-3 pr-14 md:pl-5 md:py-4 border-primary dark:border-surface border-2 rounded-12 font-poppins text-label outline-none transition-all bg-transparent h-120 xl:h-150 resize-none text-primary dark:text-surface dark:placeholder:text-surface;
  }

  .input-area-modify-profile-container {
    @apply flex flex-col gap-2 w-full;
  }

  .input-basic {
    @apply w-full pl-4 py-3 pr-14 md:pl-5 md:py-4 border-primary dark:border-surface border-2 rounded-12 font-poppins text-label outline-none transition-all bg-transparent placeholder:text-gray-400 dark:text-surface dark:placeholder:text-white;
  }

  .eye-passwd {
    @apply absolute right-4 top-1/2 -translate-y-1/2 text-primary dark:text-surface hover:text-accent focus:outline-none cursor-pointer flex items-center justify-center p-1;
  }

  .input-error-text {
    @apply text-red font-bold ml-2 dark:text-red-dark w-full;
  }

  .input-error-text-container {
    @apply w-full max-w-sm mx-auto;
  }

  .input-error {
    @apply border-red dark:border-red-dark;
  }

  .input-no-error {
    @apply border-primary dark:border-white;
  }

  .message-noti {
    @apply flex flex-col items-center;
  }

  .message-noti-text {
    @apply text-lg font-medium mb-6 transition-all duration-300 bg-white px-4 py-2 rounded-lg shadow-sm;
  }

  .login-error {
    @apply border-red dark:border-red-dark;
  }

  .login-no-error {
    @apply border-primary dark:border-white;
  }

  .login-modal-container {
    @apply p-6 flex flex-col w-full justify-center items-center gap-6 bg-surface dark:bg-surface-dark z-30;
  }

  .service-modal-container {
    @apply p-6 flex flex-col w-full justify-center items-center gap-6 bg-surface dark:bg-surface-dark z-30;
  }

  .modal-close-btn {
    @apply text-primary dark:text-surface cursor-pointer w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20;
  }

  .login-modal-title {
    @apply text-primary text-h2 text-center mb-10 dark:text-surface;
  }

  .login-login-form {
    @apply w-full flex flex-col items-center;
  }

  .login-login-form-div {
    @apply flex justify-center items-center flex-col w-full;
  }

  .login-form-reset {
    @apply p-0! flex! flex-col! gap-10 w-full justify-center items-center;
  }

  .login-login-error {
    @apply text-red font-bold dark:text-red-dark;
  }

  .login-subtitle {
    @apply text-p text-secondary mb-20 text-center px-4 dark:text-surface;
  }

  .login-other-actions {
    @apply flex! flex-col! mb-10! gap-4 w-full;
  }

  .login-recuperar-container {
    @apply w-full flex flex-col items-center;
  }

  .login-registro-container {
    @apply w-full flex flex-col items-center;
  }

  .login-form-label-base {
    @apply ml-2 transition-all duration-300 mb-4 text-center;
  }

  .register-form-check-error {
    @apply text-red-500 text-label mt-1 dark:text-red-dark;
  }

  .register-form-btn-send {
    @apply flex w-full justify-center items-center m-20;
  }

  .register-form-terms-title {
    @apply text-primary text-label dark:text-surface;
  }

  .register-form-terms {
    @apply text-accent text-label cursor-pointer hover:underline;
  }

  .register-form-check-container {
    @apply flex flex-col justify-center items-center gap-2;
  }

  .register-form-check-inner-container {
    @apply flex flex-row justify-center items-center gap-10 p-6;
  }

  .register-form-select-label {
    @apply text-label text-primary font-medium dark:text-surface;
  }

  .register-form-options {
    @apply text-primary;
  }

  .register-form-select-container {
    @apply flex flex-col gap-2 w-full flex-1;
  }

  .register-form-select {
    @apply text-primary dark:text-surface appearance-none bg-transparent w-full px-4 py-3 md:px-5 md:py-4 border-primary dark:border-surface border-2 rounded-12 font-poppins text-label outline-none transition-all cursor-pointer;
  }

  .register-form-col {
    @apply flex flex-col gap-6;
  }

  .register-form-row {
    @apply flex flex-row gap-6;
  }

  .register-form-select-arrow {
    @apply absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none text-primary dark:text-white flex items-center;
  }

  .register-container {
    @apply flex flex-col justify-center items-center w-full p-2 2xl:p-24;
  }

  .register-form {
    @apply flex flex-col gap-8 w-full;
  }

  .home-container {
    @apply flex flex-col p-20 w-full justify-start items-center h-full;
  }

  .home-title {
    @apply text-h1 text-primary w-full text-center mt-10 mb-10 dark:text-surface;
  }

  .home-btn-container {
    @apply flex flex-col justify-around items-center w-full pt-20 h-full gap-10 overflow-auto;
  }

  .home-btn {
    @apply h-[3rem] w-[60%] md:h-80 lg:h-36;
  }

  .activity-component-container {
    @apply flex flex-col gap-6 p-6 w-full;
  }

  .activity-calendar-container {
    @apply rounded-12 p-8 border shadow-md dark:border-2 dark:border-surface;
  }

  .activity-calendar-title {
    @apply text-h2 text-primary capitalize dark:text-surface;
  }

  .activiy-month-change-btn {
    @apply p-2 hover:bg-gray-100 rounded-full transition-colors text-gray-400 text-label dark:text-surface;
  }

  .activity-calendar-grid {
    @apply grid grid-cols-7 mb-4;
  }

  .activity-calendar-day {
    @apply text-center text-label font-semibold text-gray-400 dark:text-surface uppercase tracking-widest;
  }

  .activity-days-display {
    @apply grid grid-cols-7;
  }

  .activity-days-inner-display {
    @apply relative flex justify-center items-center w-full h-full;
  }

  .activity-no-events {
    @apply text-primary bg-surface dark:text-surface dark:bg-surface-dark;
  }

  .activity-events {
    @apply bg-primary dark:bg-surface dark:text-primary text-surface cursor-pointer;
  }

  .activity-events-base {
    @apply w-20 h-20 2xl:w-[3rem] 2xl:h-[3rem] text-label flex items-center justify-center text-sm font-bold;
  }

  .activity-tooltip-event-container {
    @apply absolute bottom-full left-1/2 -translate-x-1/2 mb-2 z-50 w-120 bg-secondary p-2 rounded-12 shadow-2xl max-h-32 overflow-y-auto md:w-64 md:p-3;
  }

  .activity-tooltip-event-text {
    @apply text-surface;
  }

  .activity-tooltip-text-container {
    @apply py-1 flex flex-col gap-0.5;
  }

  .activity-table-container {
    @apply overflow-auto mt-20;
  }

  .activity-text {
    @apply text-primary dark:text-surface;
  }

  .activity-text-secondary {
    @apply text-secondary dark:text-accent;
  }

  .contracts-title {
    @apply text-h1 text-primary text-center mb-10 dark:text-surface;
  }

  .contacts-container-section {
    @apply flex flex-col items-center;
  }

  .contracts-table-container {
    @apply flex flex-col p-10 w-full;
  }

  .contracts-table {
    @apply flex flex-col p-10 w-full overflow-auto;
  }

  .contracts-text {
    @apply text-primary dark:text-surface;
  }

  .modify-profile-title {
    @apply text-h1 text-center text-primary dark:text-surface my-13;
  }

  .search-card-container {
    @apply bg-surface dark:bg-secondary-dark p-20 rounded-2xl shadow-md border border-gray-200 dark:border-gray-500 flex flex-col justify-around hover:shadow-lg transition-shadow gap-12;
  }

  .search-bssn-name {
    @apply text-xl font-bold text-primary dark:text-surface;
  }

  .search-card-header {
    @apply flex flex-col justify-center w-full items-center;
  }

  .search-card-location {
    @apply text-sm text-gray-500 dark:text-accent mt-1 flex items-center gap-1;
  }

  .search-description-title-section {
    @apply font-semibold text-primary text-sm dark:text-surface;
  }

  .search-description-section {
    @apply text-sm text-gray-600 dark:text-gray-50 line-clamp-3 mt-1;
  }

  .search-select-section {
    @apply mt-4 pt-4 border-t border-gray-400 flex flex-col gap-2;
  }

  .search-card-select {
    @apply w-full p-2.5 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary focus:border-primary outline-none text-sm transition-all cursor-pointer;
  }

  .search-card-btn-container {
    @apply flex justify-around items-center mt-8 gap-3;
  }

  .modify-profile-form-container {
    @apply flex flex-col items-center w-full;
  }

  .modify-profile-form {
    @apply flex flex-col gap-2 w-full;
  }

  .modify-profile-btn-container {
    @apply flex flex-col gap-4 my-10 md:my-13 2xl:my-21 w-full items-center;
  }

  .dashboard-container {
    @apply p-10 flex flex-col items-center w-full h-full gap-10;
  }

  .chart-wrapper {
    @apply relative w-full h-62.5 block mb-10;
  }

  .no-contracts-msg {
    @apply text-p text-gray-400 dark:text-surface italic flex items-center justify-center;
  }

  .dashboard-contracts-container {
    @apply flex flex-col gap-22 w-full items-center;
  }

  .dashboard-contracts-title {
    @apply text-h2 text-primary dark:text-surface;
  }

  .dashboard-contracts-canvas {
    @apply w-full h-48 md:h-52 lg:h-64 mb-28 justify-center items-center flex flex-col gap-12;
  }

  .dashboard-contracts-texts-container {
    @apply flex flex-row gap-10;
  }

  .dashboard-contracts-text-total {
    @apply text-label text-secondary dark:text-surface font-bold;
  }

  .dashboard-contracts-text-no-active {
    @apply text-label text-[#ca165b] dark:text-[#ed76a4] font-bold;
  }

  .dashboard-contracts-text-active {
    @apply text-label text-[#3B82F6] dark:text-[#87a9e2] font-bold;
  }

  .dashboard-total-users {
    @apply w-full lg:w-1/2 bg-surface border dark:bg-gray-300 border-gray-100 rounded-12 py-10 px-10 shadow-soft flex justify-center items-center;
  }

  .dashboard-total-users-container {
    @apply w-full min-h-25 my-20 flex justify-center items-center;
  }

  .dashboard-total-users-title {
    @apply text-h2 text-primary dark:text-secondary-dark;
  }

  .dashboard-total-users-text {
    @apply font-sans font-bold ml-2;
  }

  .dashboard-login-container {
    @apply w-full text-center;
  }

  .dashboard-login-title {
    @apply text-h2 text-primary mb-2 dark:text-surface;
  }

  .dashboard-login-text {
    @apply text-gray-400 mb-10 text-p dark:text-gray-50;
  }

  .modify-profile-page-container {
    @apply flex flex-col w-full gap-10 justify-center z-40 p-10 lg:py-10 lg:px-120;
  }

  .mangment-admin-btn-container {
    @apply flex justify-center;
  }

  .table-admin-container {
    @apply w-full h-full flex flex-col p-4 md:p-8 gap-20;
  }

  .table-admin-search-container {
    @apply w-full flex gap-4 items-center justify-end px-20;
  }

  .table-admin-search-title {
    @apply text-primary text-label dark:text-surface;
  }

  .search-bar-container {
    @apply relative w-full border-2 border-primary dark:border-surface disabled:border-disabled hover:border-accent focus:border-accent rounded-12;
  }

  .search-icon {
    @apply absolute inset-y-0 right-0 flex items-center pl-4 pointer-events-none px-10;
  }

  .search-icon {
    @apply text-h2 text-primary dark:text-surface disabled:text-disabled hover:text-accent focus:text-accent cursor-pointer;
  }

  .search-input {
    @apply flex p-8 md:p-10 lg:p-15 outline-none transition-all w-[90%] bg-transparent dark:placeholder:text-surface dark:text-surface;
  }

  .cancel-modal-container {
    @apply flex flex-col justify-center items-center p-6 gap-2 w-full relative md:py-20 max-h-screen dark:bg-surface-dark bg-surface z-30;
  }

  .cancel-modal-title-container {
    @apply h-full p-10;
  }

  .cancel-modal-title {
    @apply text-primary text-h1 text-center dark:text-surface;
  }

  .cancel-modal-content {
    @apply p-0! m-0! w-full;
  }

  .cancel-modal-text {
    @apply py-8 px-4 text-secondary leading-relaxed dark:text-gray-50;
  }

  .cancel-modal-action-container {
    @apply flex flex-col! items-center gap-6 w-full m-0! p-0!;
  }

  .notifications-title {
    @apply text-h1 text-primary text-center dark:text-surface mb-20;
  }

  .notifications-name {
    @apply cursor-pointer font-bold transition-colors duration-500! text-label;
  }

  .notifications-container {
    @apply flex flex-col items-center px-10 gap-10 lg:gap-20;
  }

  .notifications-table-container {
    @apply flex flex-col p-10 w-full max-w-6xl bg-surface rounded-2xl shadow-md border border-disabled! dark:bg-surface-dark mb-20;
  }

  .notifications-table-container-inner {
    @apply w-full overflow-x-auto pb-2;
  }

  .notifications-table {
    @apply w-full min-w-[500px] md:min-w-full;
  }

  .notifications-text {
    @apply text-primary dark:text-surface;
  }

  .messages-page-container {
    @apply flex flex-col items-center p-6;
  }

  .messages-page-title {
    @apply w-full text-h1 text-primary font-serif mb-6 text-center dark:text-surface;
  }

  .message-new-message-icon {
    @apply h-20 w-20 2xl:h-7.5 2xl:w-7.5 text-slate-600 dark:text-slate-200 transition-colors duration-300;
  }

  .messages-page-btn-container {
    @apply flex flex-col md:flex-row justify-between w-full gap-4 px-10 my-14;
  }

  .messages-btn-new-message {
    @apply flex items-center justify-center gap-2 px-6 py-3 border rounded-12 border-primary dark:border-surface text-primary dark:text-surface hover:bg-accent hover:text-white transition-all cursor-pointer;
  }

  .messages-page-header {
    @apply bg-surface text-primary dark:bg-surface-dark dark:text-surface p-4;
  }

  .messages-page-content {
    @apply p-4;
  }

  .messages-page-subtitle {
    @apply w-full text-h1 text-primary font-serif mb-20 text-center dark:text-surface;
  }

  .dropdown-container {
    @apply relative z-20 w-full sm:w-fit;
  }

  .dropdown-icon {
    @apply h-4 w-4 transition-transform duration-300 text-primary dark:text-surface;
  }

  .dropdown-options {
    @apply p-3 hover:border-accent cursor-pointer text-primary dark:text-surface text-label transition-colors focus:border-primary first:rounded-t-12 last:rounded-b-12 border-t-0 border-l-2 border-r-2 border-b-0 first:border-t-2 last:border-b-2 border-disabled;
  }

  .dropdown-open-container {
    @apply w-full mt-2 bg-surface dark:bg-surface-dark rounded-12 overflow-hidden absolute z-50 shadow-xl border border-gray-200 dark:border-gray-700;
  }

  .dropdown-inner-container {
    @apply flex justify-between items-center p-2 gap-2 rounded-12 border-2 cursor-pointer transition-all border-disabled hover:border-accent focus:border-primary w-full;
  }

  .dropdown-title {
    @apply text-secondary dark:text-surface text-label;
  }

  .dropdown-subtitle {
    @apply text-secondary text-h2 text-center dark:text-surface;
  }

  .managements-services-global-container {
    @apply flex flex-col p-20 gap-20 mt-20 max-h-screen;
  }

  .management-title-services-global {
    @apply text-h1 text-primary text-center dark:text-surface;
  }

  .management-services-global-table-container {
    @apply flex flex-col p-6 gap-4;
  }

  .management-services-global-form {
    @apply w-full h-full md:px-40 gap-20 flex flex-col;
  }

  .management-services-global-form-btn {
    @apply flex gap-10 justify-center items-center;
  }

  .management-services-global-search {
    @apply text-label text-primary dark:text-surface;
  }

  .management-global-text {
    @apply p-4 text-primary dark:text-surface;
  }

  .management-service-global-actions {
    @apply flex justify-center items-center gap-2 p-10;
  }

  .managements-time-global-container {
    @apply flex flex-col p-6 gap-4 mt-20 md:mt-120;
  }

  .management-title-time {
    @apply text-primary text-h2 text-center dark:text-surface;
  }

  .management-time-global-form {
    @apply w-full h-full md:px-40 gap-20 flex flex-col;
  }

  .management-time-global-day-week {
    @apply flex flex-col gap-2;
  }

  .management-time-global-day-label {
    @apply text-label text-primary dark:text-surface;
  }

  .management-time-global-select {
    @apply text-label w-full rounded-12 border-2 border-primary bg-transparent text-primary
    dark:text-surface dark:border-surface outline-none focus:border-accent cursor-pointer transition-colors

    appearance-none bg-no-repeat
    p-3 pr-10 bg-position-[right_1rem_center] bg-size-[1.2rem]
    md:p-4 md:pr-12 md:bg-[postion:right_1.2rem_center] md:bg-[length:1.5rem];
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23000000"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>');
  }
  .dark .management-time-global-select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23FFFFFF"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>');
  }

  .management-time-global-btn-container {
    @apply flex gap-4 w-full justify-center items-center;
  }

  .management-time-global-actions {
    @apply flex justify-center items-center gap-2 p-10;
  }

  .management-time-global-table-container {
    @apply flex flex-col p-6 gap-4 lg:gap-14 mt-20;
  }

  .management-time-global-table-title {
    @apply text-secondary text-h2 text-center dark:text-surface;
  }

  .ia-container {
    @apply fixed bottom-8 md:bottom-10 xl:bottom-12 2xl:bottom-24 right-4 md:bottom-24 md:right-12 z-50 flex flex-col items-end gap-4;
  }

  .ia-container-open {
    @apply w-[calc(100vw-2rem)] md:w-88 h-125 md:h-[450px] bg-white rounded-2xl shadow-2xl border border-gray-200 flex flex-col overflow-hidden;
  }

  .ia-icon {
    @apply bg-primary text-white p-4 flex justify-between items-center shadow-md shrink-0;
  }

  .ia-btn-toggle {
    @apply p-1 hover:bg-white/20 rounded-full transition-colors;
  }

  .ia-messages-container {
    @apply flex-1 p-4 bg-slate-50 overflow-y-auto flex flex-col gap-3;
  }

  .ia-loading-container {
    @apply flex w-full justify-start;
  }

  .ia-new-message-container {
    @apply p-3 bg-white border-t border-gray-100 flex gap-2 items-center shrink-0;
  }

  .ia-input {
    @apply flex-1 border border-gray-300 rounded-full px-4 py-3 text-sm focus:outline-none focus:border-primary focus:ring-2 focus:ring-primary/20 transition-all disabled:bg-gray-50;
  }

  .ia-btn {
    @apply bg-accent text-white rounded-full w-12 h-12 flex items-center justify-center hover:opacity-90 active:scale-90 transition-all disabled:opacity-50 shadow-sm;
  }

  .soporte-container {
    @apply fixed bottom-8 md:bottom-10 xl:bottom-12 2xl:bottom-24 right-4 md:bottom-24 md:right-12 z-50 flex flex-col items-end gap-4;
  }

  .soporte-container-open {
    @apply w-[calc(100vw-2rem)] md:w-88 h-[450px] md:h-96 bg-white rounded-2xl shadow-2xl border border-gray-200 flex flex-col overflow-hidden;
  }

  .soporte-icon {
    @apply bg-primary text-white p-4 flex justify-between items-center shadow-md shrink-0;
  }

  .soporte-title {
    @apply font-bold text-sm;
  }

  .soporte-btn-toggle {
    @apply p-1 hover:bg-white/20 rounded-full transition-colors;
  }

  .soporte-btn-container {
    @apply p-4 bg-white border-t border-gray-100 shrink-0;
  }

  .soporte-message-container {
    @apply p-5 md:p-6 flex flex-col gap-4 bg-slate-50 overflow-y-auto flex-1;
  }

  .soporte-subtitle {
    @apply text-sm font-bold text-gray-800;
  }

  .soporte-text {
    @apply text-sm text-gray-500;
  }

  .sorpote-form {
    @apply flex flex-col gap-2;
  }

  .soporte-form-label {
    @apply text-[10px] font-bold text-gray-400 uppercase tracking-widest text-center;
  }

  .soporte-text-area {
    @apply w-full border border-gray-300 rounded-xl p-3 text-sm focus:outline-none focus:border-primary focus:ring-2 focus:ring-primary/20 resize-none shadow-inner bg-white;
  }

  .soporte-btn {
    @apply w-14 h-14 bg-accent rounded-full shadow-lg flex items-center justify-center text-white hover:scale-110 active:scale-90 transition-all duration-200 z-50;
  }

  .soporte-sending-spinner {
    @apply w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin;
  }

  .soporte-send-btn {
    @apply w-full bg-primary text-white rounded-xl py-3 font-bold hover:opacity-90 active:scale-95 transition-all disabled:opacity-50 disabled:cursor-not-allowed flex justify-center items-center gap-2 shadow-md;
  }

  .soporte-sent {
    @apply bg-green-100 border border-green-200 text-green-700 text-xs p-3 rounded-lg flex items-center justify-center gap-2;
  }

  .message-modal-container {
    @apply p-6 md:p-12 xl:p-3.5 flex flex-col w-full justify-center items-center gap-6 bg-surface dark:bg-surface-dark rounded-12 z-30;
  }

  .message-modal-form-container {
    @apply w-full flex flex-col gap-4;
  }

  .message-modal-text-container {
    @apply flex flex-col border-2 border-accent rounded-2xl p-4;
  }

  .message-modal-label {
    @apply text-center text-primary font-bold mb-2 uppercase text-sm dark:text-surface;
  }

  .message-modal-textarea {
    @apply w-full min-h-120 outline-none resize-none text-primary dark:text-surface dark:placeholder:text-surface;
  }

  .search-main {
    @apply flex flex-col items-center mt-20 px-10 gap-10 lg:gap-20;
  }

  .search-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-28 w-full p-10;
  }

  .search-no-bssns {
    @apply col-span-full text-center py-10 text-gray-500 dark:text-surface;
  }

  .services-bss-container {
    @apply flex flex-col mt-20 w-full gap-20 mb-12 lg:mb-16 2xl:mb-22;
  }

  .services-new-btn-container {
    @apply flex justify-center;
  }

  .service-table-containter {
    @apply overflow-x-auto;
  }

  .service-table-header {
    @apply p-4 text-primary dark:text-surface font-smibold;
  }

  .service-table-text {
    @apply p-4 text-primary dark:text-surface;
  }

  .service-btn-container {
    @apply flex justify-center items-center gap-6 p-10;
  }

  .service-form-container {
    @apply flex flex-col justify-center gap-20 p-10;
  }

  .info-container {
    @apply p-10 bg-surface flex flex-col w-full justify-center gap-6 dark:bg-surface-dark items-center z-30;
  }

  .info-contract-text {
    @apply dark:text-surface text-secondary text-lg break-words;
  }

  .info-contract-text-title {
    @apply dark:text-accent text-primary text-lg;
  }

  .service-modal-form-container {
    @apply flex flex-col gap-2 w-full;
  }

  .service-global-services {
    @apply text-label text-primary dark:text-surface;
  }

  .service-select-container {
    @apply flex flex-col gap-2 w-full;
  }

  .service-form-select {
    @apply text-label w-full p-4 rounded-12 border-2 border-primary dark:border-surface bg-transparent dark:bg-surface-dark text-primary dark:text-surface focus:ring-2 focus:ring-primary focus:outline-none transition-all cursor-pointer;
  }

  .service-btn-container {
    @apply flex justify-center gap-4 mt-6 mb-10;
  }

  .select-option-disabled {
    @apply text-gray-400 dark:text-surface;
  }

  .activities-page-container {
    @apply flex flex-col w-full px-20;
  }

  .activities-page-title {
    @apply text-h1 text-primary text-center mb-20 dark:text-surface;
  }

  .info-contract-title {
    @apply text-secondary text-h2 p-6 mb-2 dark:text-surface;
  }

  .info-contract-content-container {
    @appy flex justify-center items-center flex-col w-full px-4;
  }

  .info-contract-content {
    @apply p-0! flex! flex-col! gap-4 w-full text-left max-w-lg text-primary dark:text-surface;
  }

  .info-contract-activity-title {
    @apply text-secondary text-h2 p-6 mb-2 dark:text-surface;
  }

  .info-contract-activity-container {
    @apply flex justify-center items-center flex-col w-full py-4;
  }
}

@keyframes tooltip-entry {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes text-entry {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cards-entry {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.cdk-overlay-pane .mat-mdc-select-panel {
  @apply bg-surface rounded-12 shadow-lg dark:bg-surface-dark;
}

html.dark .cdk-overlay-pane .mat-mdc-select-panel {
  @apply bg-surface-dark;
}

html.dark .mat-mdc-header-cell {
  @apply !border-b !border-white;
}

.dark input[type='time']::-webkit-calendar-picker-indicator,
.dark input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(100%);
}
