<section class="message-modal-container" role="dialog" aria-modal="true" [attr.aria-label]="
    (data.mode === 'writeMessage' ? 'MESSAGES_MODAL.TITLE_WRITE' : 'MESSAGES_MODAL.TITLE_VIEW')
      | translate
  ">
  <header class="header-modal">
    <button mat-dialog-close [attr.aria-label]="'MESSAGES_MODAL.ACCESSIBILITY.CLOSE' | translate"
      class="modal-close-btn">
      <app-close-btn></app-close-btn>
    </button>
  </header>

  <main class="message-modal-form-container">
    @if (data.mode === 'writeMessage') {
    <!-- <app-inputs
        name="receiver"
        [label]="'MESSAGES_MODAL.LABELS.TO' | translate"
        [control]="getCtrl('receiver')"
        type="text"
      >
      </app-inputs> -->
    <div class="messages-form-select-container">
      <label for="receiver" class="messages-form-select-label">
        {{ 'MESSAGES_MODAL.LABELS.RECEIVER' | translate }}
      </label>

      <div class="relative w-full">
        <select id="receiver" formControlName="receiver" class="messages-form-select"
          [attr.aria-invalid]="getCtrl('receiver').invalid && getCtrl('receiver').touched">
          <option [ngValue]="null" disabled selected class="select-option-disabled">
            {{ 'MESSAGES_MODAL.PLACEHOLDERS.SELECT_RECEIVER' | translate }}
          </option>

          @for (receiver of receivers; track $index) { 
            <option [value]="receiver" class="messages-form-options">{{
            receiver }}</option>
          }
        </select>

        <div class="messages-form-select-arrow">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
      </div>
    </div>

    <app-inputs name="topic" [label]="'MESSAGES_MODAL.LABELS.TOPIC' | translate" [control]="getCtrl('topic')"
      type="text">
    </app-inputs>
    } @else {
    <app-inputs name="sender" [label]="'MESSAGES_MODAL.LABELS.SENDER' | translate" [control]="getCtrl('sender')"
      type="text">
    </app-inputs>
    <app-inputs name="receiver" [label]="'MESSAGES_MODAL.LABELS.RECEIVER' | translate" [control]="getCtrl('receiver')"
      type="text">
    </app-inputs>
    <app-inputs name="topic" [label]="'MESSAGES_MODAL.LABELS.TOPIC' | translate" [control]="getCtrl('topic')"
      type="text">
    </app-inputs>
    }

    <div class="message-modal-text-container">
      <label class="message-modal-label" for="message-content">
        {{ 'MESSAGES_MODAL.LABELS.MESSAGE_CONTENT' | translate }}
      </label>
      <textarea id="message-content" [formControl]="getCtrl('content')" class="message-modal-textarea"
        [placeholder]="'MESSAGES_MODAL.PLACEHOLDERS.WRITE_HERE' | translate" [attr.aria-required]="true"
        [attr.aria-invalid]="getCtrl('content').invalid && getCtrl('content').touched">
      </textarea>
      @if (getCtrl('content').invalid && getCtrl('content').touched) {
      <span class="text-xs text-red-500 mt-1">
        {{ 'MESSAGES_MODAL.ERRORS.CONTENT_REQUIRED' | translate }}
      </span>
      }
    </div>

    @if (data.mode === 'writeMessage') {
    <div class="flex justify-center mt-4">
      <app-button [label]="'MESSAGES_MODAL.BTN.SEND' | translate" variant="primary" size="lg"
        [disabled]="messageForm.invalid" (click)="sendMessage()"
        [attr.aria-label]="'MESSAGES_MODAL.ACCESSIBILITY.SEND_DESC' | translate">
      </app-button>
    </div>
    }
  </main>
</section>