<section class="input-container">
  <label class="input-label" [for]="name()"> {{ label() }} </label>
  <main class="relative w-full">
    @if (type() === 'textarea') {
      <textarea
        [id]="name()"
        class="input-text-area"
        [placeholder]="label()"
        [formControl]="control()"
        [ngClass]="errorMessage() ? 'input-error' : 'input-no-error'"
        [attr.aria-invalid]="errorMessage() ? true : null"
        [attr.aria-describedby]="errorMessage() ? label() + '-error' : null"
      ></textarea>
    } @else {
      <input
        [id]="name()"
        class="input-basic"
        [placeholder]="label()"
        [formControl]="control()"
        [type]="inputType()"
        [ngClass]="errorMessage() ? 'input-error ' : 'input-no-error'"
        [attr.aria-invalid]="errorMessage() ? true : null"
        [attr.aria-describedby]="errorMessage() ? label() + '-error' : null"
        autocomplete=""
      />
    }

    @if (type() === 'password') {
      <button type="button" (click)="togglePasswordVisibility()" class="eye-passwd" tabindex="-1">
        @if (isPasswordVisible()) {
          <lucide-icon name="eye-off" class="w-5 h-5"></lucide-icon>
        } @else {
          <lucide-icon name="eye" class="w-5 h-5"></lucide-icon>
        }
      </button>
    }
  </main>
  <footer class="input-error-text-container">
    @if (errorMessage()) {
      <span
        [id]="name() + '-error'"
        class="input-error-text block animate-fade-in"
        aria-live="polite"
      >
        {{ errorMessage() }}
      </span>
    }
  </footer>
</section>
