<section class="button-back-container">
  <app-buttonback></app-buttonback>
</section>
@if (this.messageService.messageData(); as data) {
<section class="message-noti">
  <div [ngClass]="{
          'text-red-500': data.tipo === 'error',
          'text-primary': data.tipo === 'exito',
        }" class="message-noti-text">
    {{ data.mensaje }}
  </div>
</section>
}
<section class="managements-services-global-container">
  <h1 class="management-title-services-global">
    {{ 'MANAGEMENT_SERVICES.TITLE' | translate }}
  </h1>
  <main class="management-services-global-form">
    <app-inputs
      name="nombre"
      [label]="'MANAGEMENT_SERVICES.FORM.NAME' | translate"
      [control]="getCtrl('nombre')"
    >
    </app-inputs>
    <app-inputs
      name="tipo"
      [label]="'MANAGEMENT_SERVICES.FORM.TYPE' | translate"
      [control]="getCtrl('tipo')"
    >
    </app-inputs>
  </main>
  <footer class="management-services-global-form-btn">
    <app-button
      [label]="
        (isEditing ? 'MANAGEMENT_SERVICES.FORM.SAVE' : 'MANAGEMENT_SERVICES.FORM.ADD') | translate
      "
      variant="primary"
      (click)="onSave()"
      [disabled]="isLoading()"
    >
    </app-button>

    @if (isEditing) {
      <app-button
        [label]="'MANAGEMENT_SERVICES.FORM.CANCEL' | translate"
        variant="secondary"
        (click)="resetForm()"
      >
      </app-button>
    }
  </footer>
</section>
<section class="management-services-global-table-container">
  <h2 class="dropdown-subtitle">
    {{ 'MANAGEMENT_SERVICES.LIST.TITLE' | translate }}
  </h2>
  <div class="w-full flex flex-col md:flex-row gap-10 p-20 items-center">
    <label class="management-services-global-search">
      {{ 'MANAGEMENT_SERVICES.LIST.SEARCH' | translate }}
    </label>
    <app-searchbar [control]="controlFilterItem" (searchEvent)="toFilter($event)"> </app-searchbar>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 w-full">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="text-label management-global-text">
        {{ 'MANAGEMENT_SERVICES.TABLE.NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let serv" class="management-global-text text-label">
        {{ serv.nombre }}
      </td>
    </ng-container>
    <ng-container matColumnDef="tipo_servicio">
      <th mat-header-cell *matHeaderCellDef class="text-label management-global-text">
        {{ 'MANAGEMENT_SERVICES.TABLE.TYPE' | translate }}
      </th>
      <td mat-cell *matCellDef="let serv" class="management-global-text text-label">
        {{ serv.tipo_servicio }}
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-label management-global-text text-center"
      ></th>
      <td mat-cell *matCellDef="let serv" class="p-4">
        <div class="management-service-global-actions">
          <app-button
            [label]="'MANAGEMENT_SERVICES.TABLE.EDIT' | translate"
            variant="primary"
            (click)="onEdit(serv)"
          >
          </app-button>
          <app-button
            [label]="'MANAGEMENT_SERVICES.TABLE.DELETE' | translate"
            variant="secondary"
            (click)="onDelete(serv.id_servicio!)"
          >
          </app-button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-50"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-label management-global-text" colspan="3">
        {{ 'MANAGEMENT_SERVICES.LIST.EMPTY' | translate }}
      </td>
    </tr>
  </table>
</section>
