<header
  class="button-back-container"
  [attr.aria-label]="'MANAGEMENT_SERVICES.ACCESSIBILITY.BACK_NAV' | translate"
>
  <app-buttonback></app-buttonback>
</header>

<section class="managements-services-global-container" aria-labelledby="management-form-title">
  <h1 id="management-form-title" class="management-title-services-global">
    {{ 'MANAGEMENT_SERVICES.TITLE' | translate }}
  </h1>

  <main
    class="management-services-global-form"
    role="form"
    [formGroup]="serviceForm"
    [attr.aria-label]="
      (isEditing ? 'MANAGEMENT_SERVICES.FORM.SAVE' : 'MANAGEMENT_SERVICES.FORM.ADD') | translate
    "
  >
    <app-inputs
      name="name"
      [label]="'MANAGEMENT_SERVICES.FORM.NAME' | translate"
      [control]="getCtrl('name')"
      [errorMessage]="
        getCtrl('name').invalid && getCtrl('name').touched
          ? ('ADMIN_SERVICE_TIME.ERROR' | translate)
          : ''
      "
    >
    </app-inputs>

    <div class="flex flex-col gap-2 w-full">
      <label id="icon-select-label" class="text-label text-primary dark:text-surface">
        {{ 'ADMIN_SERVICE_TIME.SELECT_ICON' | translate }}
      </label>
      <mat-form-field appearance="outline" class="w-full mi-select-personalizado">
        <mat-label>{{ 'ADMIN_SERVICE_TIME.SELECT_ICON' | translate }}</mat-label>
        <mat-select #iconSelect formControlName="icon_name" panelClass="custom-select-panel">
          <mat-select-trigger>
            @if (iconSelect.value) {
              <div class="flex items-center gap-2 p-2">
                <lucide-icon [img]="iconMap[iconSelect.value]" class="w-5 h-5 text-label">
                </lucide-icon>
              </div>
            }
          </mat-select-trigger>

          @for (icon of availableIcons; track icon.name) {
            <mat-option [value]="icon.name">
              <div class="flex items-center gap-3 py-1">
                <lucide-icon [img]="icon.icon" class="w-5 h-5 text-label"></lucide-icon>
              </div>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <app-inputs
      name="type_service"
      [label]="'MANAGEMENT_SERVICES.FORM.TYPE' | translate"
      [control]="getCtrl('type_service')"
      [errorMessage]="
        getCtrl('type_service').invalid && getCtrl('type_service').touched
          ? ('ADMIN_SERVICE_TIME.ERROR' | translate)
          : ''
      "
    >
    </app-inputs>

    <app-inputs
      name="description"
      [label]="'MANAGEMENT_SERVICES.FORM.DESCRIPTION' | translate"
      [control]="getCtrl('description')"
      [type]="'textarea'"
      [errorMessage]="
        getCtrl('description').invalid && getCtrl('description').touched
          ? ('ADMIN_SERVICE_TIME.ERROR' | translate)
          : ''
      "
    >
    </app-inputs>
  </main>

  <footer class="management-services-global-form-btn">
    <app-button
      [label]="
        (isEditing ? 'MANAGEMENT_SERVICES.FORM.SAVE' : 'MANAGEMENT_SERVICES.FORM.ADD') | translate
      "
      variant="primary"
      (click)="saveService()"
      [disabled]="isLoading()"
      [attr.aria-label]="
        (isEditing
          ? 'MANAGEMENT_SERVICES.ACCESSIBILITY.SAVE_BTN'
          : 'MANAGEMENT_SERVICES.ACCESSIBILITY.ADD_BTN'
        ) | translate
      "
    >
    </app-button>

    @if (isEditing) {
      <app-button
        [label]="'MANAGEMENT_SERVICES.FORM.CANCEL' | translate"
        variant="secondary"
        (click)="resetForm()"
        [attr.aria-label]="'MANAGEMENT_SERVICES.ACCESSIBILITY.CANCEL_BTN' | translate"
      >
      </app-button>
    }
  </footer>
</section>

<section class="management-services-global-table-container" aria-labelledby="management-list-title">
  <h2 id="management-list-title" class="management-service-global-subtitle">
    {{ 'MANAGEMENT_SERVICES.LIST.TITLE' | translate }}
  </h2>

  <div class="w-full flex flex-col md:flex-row gap-10 p-20 items-center">
    <label class="management-services-global-search" id="search-services-label">
      {{ 'MANAGEMENT_SERVICES.LIST.SEARCH' | translate }}
    </label>
    <app-searchbar [control]="controlFilterItem" (searchEvent)="applyFilter($event)">
    </app-searchbar>
  </div>

  <main class="overflow-x-auto">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z2 w-full"
      [attr.aria-label]="'MANAGEMENT_SERVICES.LIST.TITLE' | translate"
    >
      <ng-container matColumnDef="icon">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-label management-global-text"
          scope="col"
        ></th>
        <td mat-cell *matCellDef="let service" class="management-global-text text-label">
          <lucide-icon
            [img]="iconMap[service.icon_name || 'circleCheck']"
            size="32"
            class="text-primary dark:text-surface inline-block"
          >
          </lucide-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="text-label management-global-text" scope="col">
          {{ 'MANAGEMENT_SERVICES.TABLE.NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let service" class="management-global-text text-label">
          {{ service.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type_service">
        <th mat-header-cell *matHeaderCellDef class="text-label management-global-text" scope="col">
          {{ 'MANAGEMENT_SERVICES.TABLE.TYPE' | translate }}
        </th>
        <td mat-cell *matCellDef="let service" class="management-global-text text-label">
          {{ service.type_service }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="text-label management-global-text" scope="col">
          {{ 'MANAGEMENT_SERVICES.TABLE.DESCRIPTION' | translate }}
        </th>
        <td mat-cell *matCellDef="let service" class="management-global-text text-label">
          {{ service.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-label management-global-text text-center"
          scope="col"
        >
          <span class="sr-only">{{
            'MANAGEMENT_SERVICES.ACCESSIBILITY.ACTIONS_COL' | translate
          }}</span>
        </th>
        <td mat-cell *matCellDef="let service" class="p-4">
          <div class="management-service-global-actions">
            <app-button
              [label]="'MANAGEMENT_SERVICES.TABLE.EDIT' | translate"
              variant="primary"
              (click)="editService(service)"
              [attr.aria-label]="
                ('MANAGEMENT_SERVICES.TABLE.EDIT' | translate) + ': ' + service.name
              "
            >
            </app-button>
            <app-button
              [label]="'MANAGEMENT_SERVICES.TABLE.DELETE' | translate"
              variant="secondary"
              (click)="deleteService(service.id_service!)"
              [disabled]="isLoading()"
              [attr.aria-label]="
                ('MANAGEMENT_SERVICES.TABLE.DELETE' | translate) + ': ' + service.name
              "
            >
            </app-button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-50"></tr>

      <tr class="mat-row" *matNoDataRow role="status" aria-live="polite">
        <td
          class="mat-cell text-label management-global-text text-center!"
          [attr.colspan]="displayedColumns.length"
        >
          {{ 'MANAGEMENT_SERVICES.LIST.EMPTY' | translate }}
        </td>
      </tr>
    </table>
  </main>

  @if (dataSource.data.length > 0) {
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
      [attr.aria-label]="'MESSAGES_PAGE.ACCESSIBILITY.PAGINATOR' | translate"
      class="table-paginator-end mt-4"
    >
    </mat-paginator>
  }
</section>
