<div class="w-full mb-4">
  <app-buttonback></app-buttonback>
</div>

@if (this.messageService.messageData(); as data) {
<div
  [ngClass]="{
    'text-red-500': data.tipo === 'error',
    'text-primary': data.tipo === 'exito'
  }"
  class="text-label ml-2 transition-all duration-300"
>
  {{ data.mensaje }}
</div>
}

<div class="flex flex-col p-20 gap-20 mt-20 max-h-screen">
  <h1 class="text-h1 text-primary text-center">
    {{ 'MANAGEMENT_SERVICES.TITLE' | translate }}
  </h1>

  <div class="w-full h-full md:px-40 gap-20 flex flex-col">
    <app-inputs [label]="'MANAGEMENT_SERVICES.FORM.NAME' | translate" [control]="getCtrl('nombre')">
    </app-inputs>
    <app-inputs [label]="'MANAGEMENT_SERVICES.FORM.TYPE' | translate" [control]="getCtrl('tipo')">
    </app-inputs>
  </div>

  <div class="flex gap-10 justify-center items-center">
    <app-button
      [label]="
        (isEditing ? 'MANAGEMENT_SERVICES.FORM.SAVE' : 'MANAGEMENT_SERVICES.FORM.ADD') | translate
      "
      variant="primary"
      (click)="onSave()"
    >
    </app-button>

    @if (isEditing) {
    <app-button
      [label]="'MANAGEMENT_SERVICES.FORM.CANCEL' | translate"
      variant="secondary"
      (click)="resetForm()"
    >
    </app-button>
    }
  </div>
</div>

<div class="flex flex-col p-6 gap-4"></div>

<div class="flex flex-col p-6 gap-4">
  <h2 class="text-secondary text-h2 text-center">
    {{ 'MANAGEMENT_SERVICES.LIST.TITLE' | translate }}
  </h2>

  <div class="w-full flex flex-col md:flex-row gap-10 p-20 items-center">
    <label class="text-label text-primary">
      {{ 'MANAGEMENT_SERVICES.LIST.SEARCH' | translate }}
    </label>
    <app-searchbar [control]="filtroControl" (searchEvent)="aplicarFiltro($event)"> </app-searchbar>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 w-full">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="p-4 text-label text-primary">
        {{ 'MANAGEMENT_SERVICES.TABLE.NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let serv" class="p-4">
        {{ serv.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo_servicio">
      <th mat-header-cell *matHeaderCellDef class="p-4 text-label text-primary">
        {{ 'MANAGEMENT_SERVICES.TABLE.TYPE' | translate }}
      </th>
      <td mat-cell *matCellDef="let serv" class="p-4">
        {{ serv.tipo_servicio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="p-4 text-label text-primary text-center">
        {{ 'MANAGEMENT_SERVICES.TABLE.ACTIONS' | translate }}
      </th>
      <td mat-cell *matCellDef="let serv" class="p-4">
        <div class="flex justify-center items-center gap-2 p-10">
          <app-button
            [label]="'MANAGEMENT_SERVICES.TABLE.EDIT' | translate"
            variant="primary"
            (click)="onEdit(serv)"
          >
          </app-button>
          <app-button
            [label]="'MANAGEMENT_SERVICES.TABLE.DELETE' | translate"
            variant="secondary"
            (click)="onDelete(serv.id_servicio!)"
          >
          </app-button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-50"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell p-4 text-label text-primary" colspan="3">
        {{ 'MANAGEMENT_SERVICES.LIST.EMPTY' | translate }}
      </td>
    </tr>
  </table>
</div>
