<section class="table-admin-container" [attr.aria-label]="'ADMIN_TABLE.SECTION_DESC' | translate">
  <header class="table-admin-search-container">
    <label class="table-admin-search-title" for="admin-search-input">
      {{ 'ADMIN_TABLE.SEARCH_LABEL' | translate }}
    </label>
    <app-searchbar [control]="searchControl" id="admin-search-input"> </app-searchbar>
  </header>

  <div class="table-admin">
    <main class="overflow-x-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table-admin-content"
        [attr.aria-describedby]="'admin-table-summary'"
      >
        <caption id="admin-table-summary" class="sr-only">
          {{
            'ADMIN_TABLE.SUMMARY' | translate
          }}
        </caption>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="table-column-name text-label" scope="col">
            {{ 'ADMIN_TABLE.HEADER.NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let item" class="table-column-name text-label">
            {{ item.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="surnames">
          <th mat-header-cell *matHeaderCellDef class="table-column-name text-label" scope="col">
            {{ 'ADMIN_TABLE.HEADER.SURNAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let item" class="p-5 table-column-name text-label">
            {{ item.surname1 }} {{ item.surname2 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="table-column-name text-label" scope="col">
            {{ 'ADMIN_TABLE.HEADER.EMAIL' | translate }}
          </th>
          <td mat-cell *matCellDef="let item" class="table-column-name text-label">
            {{ item.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <span class="sr-only">{{ 'ADMIN_TABLE.HEADER.ACTIONS' | translate }}</span>
          </th>
          <td mat-cell *matCellDef="let item">
            <div class="table-admin-btn-container">
              <app-button
                [label]="'ADMIN_TABLE.BTN.DELETE' | translate"
                variant="secondary"
                (click)="onDelete(item)"
                [attr.aria-label]="('ADMIN_TABLE.BTN.DELETE' | translate) + ': ' + item.name"
                [disabled]="isDeleting(item.id_user)"
              ></app-button>
              <app-button
                [label]="'ADMIN_TABLE.BTN.MODIFY' | translate"
                variant="primary"
                (click)="onModify(item)"
                [attr.aria-label]="('ADMIN_TABLE.BTN.MODIFY' | translate) + ': ' + item.name"
                [disabled]="isDeleting(item.id_user)"
              ></app-button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td
            class="p-8 text-center text-label"
            [attr.colspan]="displayedColumns.length"
            role="status"
            aria-live="polite"
          >
            <p class="table-column-name text-center! text-label">
              {{ 'ADMIN_TABLE.NO_DATA' | translate }}
            </p>
          </td>
        </tr>
      </table>
    </main>

    @if (dataSource.data.length > 0) {
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="10"
        showFirstLastButtons
        [attr.aria-label]="'MESSAGES_PAGE.ACCESSIBILITY.PAGINATOR' | translate"
        class="table-paginator-end mt-4"
      >
      </mat-paginator>
    }
  </div>
</section>
