<section class="table-admin-container">
  <header class="table-admin-search-container">
    <label class="table-admin-search-title">{{ 'ADMIN_TABLE.SEARCH_LABEL' | translate }}</label>
    <app-searchbar [control]="searchControl"> </app-searchbar>
  </header>
  <div class="table-admin">
    <main class="overflow-x-auto">
      <table mat-table [dataSource]="dataSource" class="table-admin-content">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="table-column-name text-label">
            {{ 'ADMIN_TABLE.HEADER.NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let item" class="table-column-name text-label">
            {{ item.nombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef class="table-column-name text-label">
            {{ 'ADMIN_TABLE.HEADER.SURNAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let item" class="p-5 table-column-name text-label">
            {{ item.ape1 }} {{ item.ape2 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="table-column-name text-label">Email</th>
          <td mat-cell *matCellDef="let item" class="table-column-name text-label">
            {{ item.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">
            <div class="table-admin-btn-container">
              <app-button
                [label]="'ADMIN_TABLE.BTN.DELETE' | translate"
                variant="secondary"
                (click)="onEliminar(item)"
              ></app-button>
              <app-button
                [label]="'ADMIN_TABLE.BTN.MODIFY' | translate"
                variant="primary"
                (click)="onModificar(item)"
              ></app-button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="p-8 text-center" [attr.colspan]="displayedColumns.length">
            <p class="table-column-name text-label">
              {{ 'ADMIN_TABLE.NO_DATA' | translate }}
            </p>
          </td>
        </tr>
      </table>
    </main>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
      [attr.aria-label]="'ADMIN_TABLE.PAGINATOR_LABEL' | translate"
      class="table-paginator-end"
    >
    </mat-paginator>
  </mdivain>
</section>
