@reference "../../../styles.css";
.modify-profile-form-container {
  @apply flex flex-col items-center w-full;
}

.modify-profile-form {
  @apply flex flex-col gap-2 w-full max-w-400 xl:max-w-[800px];
}
.modify-form-container {
  @apply flex justify-center;
}
.modify-profile-btn-container {
  @apply flex flex-col gap-4 my-10 2xl:my-10 w-full items-center;
}
.modify-form-select-label {
  @apply text-label text-primary font-regular dark:text-surface;
}
.modify-form-row {
  @apply flex flex-col md:flex-row gap-6;
}

.modify-form-options {
  @apply text-primary;
}
.modify-form-select {
  @apply text-primary dark:text-surface appearance-none bg-transparent w-full pl-4 pr-[2.2rem] truncate py-3 border-primary dark:border-surface border-2 rounded-12 font-poppins text-label outline-none transition-all cursor-pointer;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236b7280' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5rem;
}
.modify-form-select-container {
  @apply flex flex-col gap-2 w-full flex-1;
}
.modify-form-select-arrow {
  @apply absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none text-primary dark:text-white flex items-center;
}

.input-area-modify-profile-container {
  @apply flex flex-col gap-2 w-full;
}
.input-text-area {
  @apply w-full pl-4 py-3 pr-14 md:pl-5 md:py-4 border-primary dark:border-surface border-2 rounded-12 font-poppins text-label outline-none transition-all bg-transparent h-120 xl:h-150 resize-none text-primary dark:text-surface dark:placeholder:text-surface;
}

.input-label {
  @apply text-primary text-label font-poppins ml-1 dark:text-surface;
}
