<section class="modify-form-container" [attr.aria-label]="'MODIFY_PROFILE.ACCESSIBILITY.SECTION_TITLE' | translate">
  <form 
    [formGroup]="profileForm" 
    (ngSubmit)="onSubmit()" 
    class="modify-profile-form"
    [attr.aria-label]="'MODIFY_PROFILE.ACCESSIBILITY.FORM_NAME' | translate"
  >
    @if (userRole !== 'business') {
      <app-inputs
        name="userName"
        [label]="'MODIFY_PROFILE.LABELS.USERNAME' | translate"
        [control]="getCtrl('userName')"
        [errorMessage]="getErrorMessage('userName')"
      ></app-inputs>
    }

    @if (userRole === 'client') {
      <div class="register-form-col">
        <div class="register-form-row">
          <app-inputs
            name="surname1"
            [label]="'MODIFY_PROFILE.LABELS.SURNAME1' | translate"
            [control]="getCtrl('surname1')"
            [errorMessage]="getErrorMessage('surname1')"
            class="flex-1"
          ></app-inputs>
          <app-inputs
            name="surname2"
            [label]="'MODIFY_PROFILE.LABELS.SURNAME2' | translate"
            [control]="getCtrl('surname2')"
            [errorMessage]="getErrorMessage('surname2')"
            class="flex-1"
          ></app-inputs>
        </div>
      </div>
    } @else if (userRole === 'business') {
      <div class="register-form-col">
        <app-inputs
          name="companyName"
          [label]="'MODIFY_PROFILE.LABELS.BUSINESS_NAME' | translate"
          [control]="getCtrl('companyName')"
          [errorMessage]="getErrorMessage('companyName')"
        ></app-inputs>
        <div class="input-area-modify-profile-container">
          <label for="description-modify" class="input-label">
            {{ 'MODIFY_PROFILE.LABELS.DESCRIPTION' | translate }}
          </label>
          <textarea
            id="description-modify"
            formControlName="description"
            rows="4"
            class="input-text-area"
            [placeholder]="'MODIFY_PROFILE.PLACEHOLDER.DESCRIPTION' | translate"
            [attr.aria-invalid]="profileForm.get('description')?.invalid && profileForm.get('description')?.touched"
          ></textarea>
        </div>
      </div>
    }

    <app-inputs
      name="phone"
      [label]="'MODIFY_PROFILE.LABELS.PHONE' | translate"
      [control]="getCtrl('phone')"
      [errorMessage]="getErrorMessage('phone')"
    ></app-inputs>
    
    <app-inputs
      name="email"
      [label]="'MODIFY_PROFILE.LABELS.EMAIL' | translate"
      type="email"
      [control]="getCtrl('email')"
      [errorMessage]="getErrorMessage('email')"
    ></app-inputs>

    @if (userRole !== 'administrator') {
      <app-inputs
        name="address"
        [label]="'MODIFY_PROFILE.LABELS.ADDRESS' | translate"
        [control]="getCtrl('address')"
        [errorMessage]="getErrorMessage('address')"
      ></app-inputs>
      <app-inputs
        name="city"
        [label]="'MODIFY_PROFILE.LABELS.CITY' | translate"
        [control]="getCtrl('city')"
        [errorMessage]="getErrorMessage('city')"
      ></app-inputs>
      
      <div class="modify-form-row">
        <app-inputs
          name="postcode"
          [label]="'MODIFY_PROFILE.LABELS.ZIP' | translate"
          [control]="getCtrl('postcode')"
          [errorMessage]="getErrorMessage('postcode')"
          class="flex-1"
        ></app-inputs>
        
        <div class="modify-form-select-container">
          <label for="comunity-modify" class="modify-form-select-label">
            {{ 'REGISTER.LABELS.REGION' | translate }}
          </label>
          <div class="relative w-full">
            <select 
              id="comunity-modify" 
              formControlName="comunity" 
              class="modify-form-select"
              [attr.aria-invalid]="profileForm.get('comunity')?.invalid && profileForm.get('comunity')?.touched"
            >
              @for (comunity of comunities; track $index) {
                <option [value]="comunity" class="modify-form-options">{{ comunity }}</option>
              }
            </select>

            <div class="modify-form-select-arrow">
              <svg
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>
    }

    <footer class="modify-profile-btn-container">
      <div class="flex flex-row gap-4 w-full justify-center">
        <app-button
          [label]="'MODIFY_PROFILE.BTN.CANCEL' | translate"
          variant="secondary"
          type="button"
          (click)="onCancel()"
          [attr.aria-label]="'MODIFY_PROFILE.ACCESSIBILITY.CANCEL_CHANGES' | translate"
        >
        </app-button>
        <app-button
          [label]="'MODIFY_PROFILE.BTN.MODIFY' | translate"
          variant="primary"
          type="submit"
          [disabled]="profileForm.invalid"
          [attr.aria-label]="'MODIFY_PROFILE.ACCESSIBILITY.SAVE_CHANGES' | translate"
        >
        </app-button>
      </div>

      @if (!isAdminViewer) {
        <div class="mt-8 pt-8 border-t border-gray-200 w-full flex justify-center">
          <app-button
            [label]="'MODIFY_PROFILE.BTN.UNSUBSCRIBE' | translate"
            variant="secondary"
            (click)="$event.preventDefault(); onDeleteAccount()"
            [attr.aria-label]="'MODIFY_PROFILE.ACCESSIBILITY.DELETE_ACCOUNT' | translate"
          >
          </app-button>
        </div>
      }
    </footer>
  </form>
</section>