<section
  class="register-container"
  [attr.aria-label]="'REGISTER.ACCESSIBILITY.SECTION' | translate"
>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="register-form"
    [attr.aria-label]="'REGISTER.ACCESSIBILITY.FORM_NAME' | translate"
  >
    @if (isClientProfile) {
      <app-inputs
        name="name"
        [label]="'REGISTER.LABELS.USERNAME' | translate"
        [control]="getCtrl('name')"
        [errorMessage]="getErrorMessage('name')"
      ></app-inputs>
      <div class="register-form-col">
        <div class="register-form-row">
          <app-inputs
            name="surname1"
            [label]="'REGISTER.LABELS.SURNAME1' | translate"
            [control]="getCtrl('surname1')"
            [errorMessage]="getErrorMessage('surname1')"
            class="flex-1"
          ></app-inputs>

          <app-inputs
            name="surname2"
            [label]="'REGISTER.LABELS.SURNAME2' | translate"
            [control]="getCtrl('surname2')"
            [errorMessage]="getErrorMessage('surname2')"
            class="flex-1"
          ></app-inputs>
        </div>
        <div class="register-form-row">
          <app-inputs
            name="birthDate"
            [label]="'REGISTER.LABELS.BIRTHDATE' | translate"
            type="date"
            [control]="getCtrl('birthDate')"
            [errorMessage]="getErrorMessage('birthDate')"
            class="flex-1"
          ></app-inputs>
          <app-inputs
            name="dni"
            [label]="'REGISTER.LABELS.DNI' | translate"
            [control]="getCtrl('dni')"
            [errorMessage]="getErrorMessage('dni')"
            class="flex-1"
          ></app-inputs>
        </div>
      </div>
    } @else {
      <div class="register-form-col">
        <app-inputs
          name="companyName"
          [label]="'REGISTER.LABELS.BUSINESS_NAME' | translate"
          [control]="getCtrl('companyName')"
          [errorMessage]="getErrorMessage('companyName')"
        ></app-inputs>
        <app-inputs
          name="cif"
          [label]="'REGISTER.LABELS.CIF' | translate"
          [control]="getCtrl('cif')"
          [errorMessage]="getErrorMessage('cif')"
        ></app-inputs>
        <app-inputs
          name="description"
          [label]="'REGISTER.LABELS.DESCRIPTION' | translate"
          type="textarea"
          [control]="getCtrl('description')"
          [errorMessage]="getErrorMessage('description')"
        ></app-inputs>
      </div>
    }

    <app-inputs
      name="phone"
      [label]="'REGISTER.LABELS.PHONE' | translate"
      [control]="getCtrl('phone')"
      [errorMessage]="getErrorMessage('phone')"
    ></app-inputs>

    <app-inputs
      name="email"
      [label]="'REGISTER.LABELS.EMAIL' | translate"
      type="email"
      [control]="getCtrl('email')"
      [errorMessage]="getErrorMessage('email')"
    ></app-inputs>

    <app-inputs
      name="address"
      [label]="'REGISTER.LABELS.ADDRESS' | translate"
      [control]="getCtrl('address')"
      [errorMessage]="getErrorMessage('address')"
    ></app-inputs>

    <app-inputs
      name="city"
      [label]="'REGISTER.LABELS.CITY' | translate"
      [control]="getCtrl('city')"
      [errorMessage]="getErrorMessage('city')"
    ></app-inputs>

    <div class="register-form-row">
      <app-inputs
        name="postcode"
        [label]="'REGISTER.LABELS.ZIP' | translate"
        [control]="getCtrl('postcode')"
        [errorMessage]="getErrorMessage('postcode')"
        class="flex-1"
      ></app-inputs>

      <div class="register-form-select-container">
        <label for="comunity" class="register-form-select-label">
          {{ 'REGISTER.LABELS.REGION' | translate }}
        </label>

        <div class="relative w-full">
          <select
            id="comunity"
            formControlName="comunity"
            class="register-form-select"
            [attr.aria-invalid]="getCtrl('comunity').invalid && getCtrl('comunity').touched"
          >
            <option [ngValue]="null" disabled selected class="select-option-disabled">
              {{ 'REGISTER.PLACEHOLDER.SELECTREGION' | translate }}
            </option>

            @for (comunity of comunities; track $index) {
              <option [value]="comunity" class="register-form-options">{{ comunity }}</option>
            }
          </select>

          <div class="register-form-select-arrow">
            <svg
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="register-form-row">
      <app-inputs
        name="password"
        [label]="'REGISTER.LABELS.PASSWORD' | translate"
        type="password"
        [control]="getCtrl('password')"
        [errorMessage]="getErrorMessage('password')"
        class="flex-1"
      ></app-inputs>

      <app-inputs
        name="repassword"
        [label]="'REGISTER.LABELS.REPASSWORD' | translate"
        type="password"
        [control]="getCtrl('repassword')"
        [errorMessage]="getErrorMessage('repassword')"
        class="flex-1"
      ></app-inputs>
    </div>

    <div class="register-form-check-container">
      <div class="register-form-check-inner-container">
        <input
          type="checkbox"
          name="termsCondition"
          formControlName="termsCondition"
          class="w-5 h-5 cursor-pointer"
          id="terms"
          [attr.aria-describedby]="getErrorMessage('termsCondition') ? 'terms-error' : null"
        />
        <label for="terms" class="register-form-terms-title">
          {{ 'REGISTER.TERMS.PART_1' | translate }}
          <a
            routerLink="/terms"
            target="_blank"
            class="register-form-terms"
            [attr.aria-label]="'REGISTER.ACCESSIBILITY.TERMS_LINK' | translate"
          >
            {{ 'REGISTER.TERMS.LINK' | translate }}
          </a>
          {{ 'REGISTER.TERMS.PART_2' | translate }}
        </label>
      </div>

      @if (getErrorMessage('termsCondition')) {
        <p class="register-form-check-error" id="terms-error" role="alert">
          {{ 'REGISTER.TERMS.ERROR' | translate }}
        </p>
      }
    </div>

    <footer class="register-form-btn-send">
      <app-button
        [label]="'REGISTER.BTN' | translate"
        variant="primary"
        type="submit"
        [attr.aria-label]="'REGISTER.ACCESSIBILITY.SUBMIT_BTN' | translate"
      ></app-button>
    </footer>
  </form>
</section>