@reference "../../../styles.css";
.register-form-check-error {
  @apply text-red-500 text-label mt-1 dark:text-red-dark;
}

.register-form-btn-send {
  @apply flex w-full justify-center items-center m-20;
}

.register-form-terms-title {
  @apply text-primary text-label dark:text-surface;
}

.register-form-terms {
  @apply text-accent text-label cursor-pointer hover:underline;
}

.register-form-check-container {
  @apply flex flex-col justify-center items-center gap-2;
}

.register-form-check-inner-container {
  @apply flex flex-row justify-center items-center gap-10 p-6;
}

.register-form-select-label {
  @apply text-label text-primary font-regular dark:text-surface;
}

.register-form-options {
  @apply text-primary;
}

.register-form-select-container {
  @apply flex flex-col gap-2 w-full flex-1;
}

.register-form-select {
  @apply dark:text-surface text-primary appearance-none bg-transparent w-full pl-4 pr-[2.2rem] truncate py-3 border-primary dark:border-surface border-2 rounded-12 font-poppins text-label outline-none transition-all cursor-pointer;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236b7280' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5rem;
}

.register-form-col {
  @apply flex flex-col gap-6;
}

.register-form-row {
  @apply flex flex-col md:flex-row gap-6;
}

.register-form-select-arrow {
  @apply absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none text-primary dark:text-white flex items-center;
}
.register-container {
  @apply flex flex-col justify-center items-center w-full p-2 md:p-[40px] lg:p-[48px] 2xl:px-50;
}

.register-form {
  @apply flex flex-col gap-8 w-full;
}
