<header
  class="button-back-container"
  [attr.aria-label]="'MESSAGES_PAGE.ACCESSIBILITY.BACK_NAV' | translate"
>
  <app-buttonback></app-buttonback>
</header>

<section class="messages-page-container" role="main" aria-labelledby="messages-page-title">
  <h1 id="messages-page-title" class="messages-page-title">
    {{ 'MESSAGES_PAGE.TITLE' | translate }}
  </h1>

  <header class="messages-page-btn-container">
    <button class="messages-btn-new-message group flex-1 w-full" (click)="writeMessage()">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="message-new-message-icon"
      >
        <path d="M17 3a2.85 2.85 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
        <path d="m15 5 4 4" />
      </svg>
      <span class="text-label font-bold">
        {{ 'MESSAGES_PAGE.NEW_MSG' | translate }}
      </span>
    </button>

    <app-button
      (click)="applyFilter('received')"
      variant="primary"
      [label]="'MESSAGES_PAGE.RECEIVED' | translate"
      class="flex-1 w-full"
    >
    </app-button>

    <app-button
      variant="primary"
      (click)="applyFilter('sent')"
      [label]="'MESSAGES_PAGE.SENT' | translate"
      class="flex-1 w-full"
    >
    </app-button>
    <app-dropdown
      class="w-full shrink-0 flex-1"
      [label]="'MESSAGES_PAGE.SORT_LABEL' | translate"
      [options]="[
        'MESSAGES_PAGE.SORT_OPTIONS.DATE_DESCENDANT',
        'MESSAGES_PAGE.SORT_OPTIONS.DATE_ASCENDANT',
        'MESSAGES_PAGE.SORT_OPTIONS.Topic_AZ',
        'MESSAGES_PAGE.SORT_OPTIONS.Topic_ZA',
      ]"
      (onSelect)="sortMessages($event)"
    ></app-dropdown>
  </header>

  <div class="flex flex-col p-10 w-full">
    <h2 id="messages-table-title" class="messages-page-subtitle">
      @if (currentFilter === 'received') {
        {{ 'MESSAGES.TITLE.RECEIVED' | translate }}
      } @else {
        {{ 'MESSAGES.TITLE.SENT' | translate }}
      }
    </h2>
    <main class="overflow-auto">
      @if (isLoading) {
        <app-table-skeleton></app-table-skeleton>
      } @else {
        <table
          mat-table
          [dataSource]="dataSource"
          class="w-full"
          aria-labelledby="messages-table-title"
        >
          <ng-container matColumnDef="sender">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="messages-page-header text-label!"
              scope="col"
            >
              {{ 'MESSAGES_PAGE.TABLE.SENDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let message" class="messages-page-content text-label!">
              @if (!message.read && message.id_receiver === authService.currentUser()?.id_user) {
                <span class="sr-only"
                  >{{ 'MESSAGES_PAGE.ACCESSIBILITY.UNREAD' | translate }} -
                </span>
              }
              {{ message.Sender?.email || 'Desconocido' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="receiver">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="messages-page-header text-label!"
              scope="col"
            >
              {{ 'MESSAGES_PAGE.TABLE.RECEIVER' | translate }}
            </th>
            <td mat-cell *matCellDef="let message" class="messages-page-content text-label!">
              {{ message.Receiver?.name || 'Desconocido' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="topic">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="messages-page-header text-label!"
              scope="col"
            >
              {{ 'MESSAGES_PAGE.TABLE.TOPIC' | translate }}
            </th>
            <td mat-cell *matCellDef="let message" class="messages-page-content text-label!">
              {{ message.topic }}
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="messages-page-header text-label!"
              scope="col"
            >
              {{ 'MESSAGES_PAGE.TABLE.DATE' | translate }}
            </th>
            <td mat-cell *matCellDef="let message" class="messages-page-content text-label!">
              {{ message.send_date | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="messages-page-header textlabel!"
              scope="col"
            >
              <span class="sr-only">{{
                'MESSAGES_PAGE.ACCESSIBILITY.ACTIONS_COL' | translate
              }}</span>
            </th>
            <td mat-cell *matCellDef="let message" class="p-4 text-center">
              <div class="flex justify-end gap-4 p-10">
                <app-button
                  [label]="'MESSAGES_PAGE.TABLE.BTN_DELETE' | translate"
                  variant="secondary"
                  (click)="deleteCommunication(message)"
                  [attr.aria-label]="
                    ('MESSAGES_PAGE.TABLE.BTN_DELETE' | translate) + ': ' + message.topic
                  "
                  [disabled]="isDeleting(message.id_comunication!)"
                >
                  ></app-button
                >
                <app-button
                  [label]="'MESSAGES_PAGE.TABLE.BTN_VIEW' | translate"
                  variant="primary"
                  (click)="readMessage(message)"
                  [attr.aria-label]="
                    ('MESSAGES_PAGE.TABLE.BTN_VIEW' | translate) + ': ' + message.topic
                  "
                  [disabled]="isDeleting(message.id_comunication!)"
                ></app-button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{
              '[&>*]:!text-red-500 dark:[&>*]:!text-red-dark font-bold':
                !row.read && row.id_receiver === authService.currentUser()?.id_user,

              '[&>*]:!text-primary dark:[&>*]:!text-surface': row.read,
            }"
          ></tr>

          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell p-10 text-center! messages-page-content text-label!"
              [attr.colspan]="displayedColumns.length"
            >
              {{ 'MESSAGES_PAGE.NO_DATA' | translate }}
            </td>
          </tr>
        </table>
      }
    </main>
    @if (!isLoading && dataSource.data.length > 0) {
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        class="mt-10 border-none!"
        [attr.aria-label]="'MESSAGES_PAGE.ACCESSIBILITY.PAGINATOR' | translate"
      >
      </mat-paginator>
    }
  </div>
</section>
