<div class="activities-container">
  <div class="calendar-card">
    <div class="calendar-header">
      <h2 class="calendar-month-title">
        {{ displayDate | date: 'MMMM yyyy' }}
      </h2>
      <div class="flex gap-2">
        <button (click)="cambiarMes(-1)" class="calendar-nav-btn">‹</button>
        <button (click)="cambiarMes(1)" class="calendar-nav-btn">›</button>
      </div>
    </div>

    <div class="calendar-grid-weekdays">
      @for (wd of weekDays; track wd) {
        <span class="calendar-weekday-label">
          {{ 'ACTIVITIES.DAYS.' + wd | translate }}
        </span>
      }
    </div>

    <div class="calendar-grid-days">
      @for (dia of monthDays; track $index) {
        <div class="calendar-day-wrapper group">
          @if (dia) {
            @let eventos = getEventosDia(dia);
            <span
              (click)="manejarClickDia(dia, eventos)"
              [ngClass]="{
                'bg-primary text-surface cursor-pointer': eventos.length > 0,
                'text-primary bg-surface ': eventos.length === 0,
              }"
              class="calendar-day-number"
            >
              {{ dia }}
            </span>

            @if (eventos.length > 0 && selectedDia === dia) {
              <div class="calendar-tooltip">
                @for (ev of eventos; track ev.id_contrato) {
                  <div class="py-1 flex flex-col gap-0.5">
                    <span class="text-surface font-bold">{{ ev.nombreServicio }}</span>
                    <span class="text-surface"
                      >{{ ev.hora_contratada }} - {{ ev.dia_semana_contratado }}</span
                    >
                    <span class="text-white">📍 {{ ev.lugar }}</span>
                  </div>
                }
                <div class="calendar-tooltip-arrow"></div>
              </div>
            }
          }
        </div>
      }
    </div>
  </div>

  <div class="activities-table-wrapper">
    <table mat-table [dataSource]="dataSourceTable" class="w-full">
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef class="table-header-cell">
          {{ headerContrato() | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-data-cell">
          {{ element.nombreAMostrar }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="table-header-cell">
          {{ 'ACTIVITIES.TABLE.NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-data-cell">
          {{ element.nombreServicio }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef class="table-header-cell">
          {{ 'ACTIVITIES.TABLE.DAY' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-data-cell">
          {{ element.dia_semana_contratado }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef class="table-header-cell">
          {{ 'ACTIVITIES.TABLE.TIME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-data-cell">
          {{ element.hora_contratada }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lugar">
        <th mat-header-cell *matHeaderCellDef class="table-header-cell">
          {{ 'ACTIVITIES.TABLE.LOCATION' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="table-data-cell">
          {{ element.lugar }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-button
            [label]="'ACTIVITIES.BTN_CANCEL' | translate"
            variant="secondary"
            (onClick)="onCancel(element.id_contrato)"
          ></app-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mt-20"></mat-paginator>
</div>
