<div class="activity-component-container">
  <div class="activity-calendar-container">
    <div class="flex justify-between items-center mb-8 p-10">
      <h2 class="activity-calendar-title">
        {{ displayDate | date: 'MMMM yyyy' }}
      </h2>
      <div class="flex gap-2">
        <div class="flex gap-2">
          <button (click)="cambiarMes(-1)" class="activiy-month-change-btn">‹</button>
          <button (click)="cambiarMes(1)" class="activiy-month-change-btn">›</button>
        </div>
      </div>
    </div>

    <div class="activity-calendar-grid">
      @for (wd of weekDays; track wd) {
        <span class="activity-calendar-dary">
          {{ 'ACTIVITIES.DAYS.' + wd | translate }}
        </span>
      }
    </div>

    <div class="activity-days-display">
      @for (dia of monthDays; track $index) {
        <div class="activity-days-inner-display group">
          @if (dia) {
            @let eventos = getEventosDia(dia);
            <span
              (click)="manejarClickDia(dia, eventos)"
              [ngClass]="{
                'activity-events': eventos.length > 0,
                'activity-no-events': eventos.length === 0,
              }"
              class="activity-events-base"
            >
              {{ dia }}
            </span>

            @if (eventos.length > 0 && selectedDia === dia) {
              <div class="activity-tooltip-event-container animate-tooltip">
                @for (ev of eventos; track ev.id_contrato) {
                  <div class="py-1 flex flex-col gap-0.5">
                    <span class="text-surface">{{ ev.nombreServicio }}</span>
                    <span class="text-surface"
                      >{{ ev.hora_contratada }} - {{ ev.dia_semana_contratado }}</span
                    >
                    <span class="text-white">📍{{ ev.lugar }}</span>
                  </div>
                }
                <div
                  class="absolute top-full left-1/2 -translate-x-1/2 border-8 border-transparent border-t-primary"
                ></div>
              </div>
            }
          }
        </div>
      }
    </div>
  </div>

  <div class="activity-table-container">
    <table mat-table [dataSource]="dataSourceTable" class="w-full">
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef class="activity-text text-label">
          {{ headerContrato() | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="activity-text-secondary text-label">
          {{ element.nombreAMostrar }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="activity-text text-label">
          {{ 'ACTIVITIES.TABLE.NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="activity-text-secondary text-label">
          {{ element.nombreServicio }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef class="activity-text text-label">
          {{ 'ACTIVITIES.TABLE.DAY' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="activity-text-secondary text-label">
          {{ element.dia_semana_contratado }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef class="activity-text text-label">
          {{ 'ACTIVITIES.TABLE.TIME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="activity-text-secondary text-label">
          {{ element.hora_contratada }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lugar">
        <th mat-header-cell *matHeaderCellDef class="activity-text text-label">
          {{ 'ACTIVITIES.TABLE.LOCATION' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="activity-text-secondary text-label">
          {{ element.lugar }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-button
            [label]="'ACTIVITIES.BTN_CANCEL' | translate"
            variant="secondary"
            (onClick)="onCancel(element.id_contrato)"
          ></app-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mt-20"></mat-paginator>
</div>
