<section
  class="cancel-modal-container"
  role="dialog"
  aria-modal="true"
  aria-labelledby="cancel-title"
  aria-describedby="cancel-description"
>
  <header class="header-modal">
    <button
      mat-dialog-close
      [attr.aria-label]="'CANCEL_MODAL.CLOSE' | translate"
      class="modal-close-btn"
    >
      <app-close-btn></app-close-btn>
    </button>
  </header>

  <div class="cancel-modal-title-container">
    <h1 mat-dialog-title id="cancel-title" class="cancel-modal-title">
      @if (data.mode === 'unsubscribe') {
        {{ 'CANCEL_MODAL.BAJA.TITLE' | translate }}
      } @else if (data.mode === 'cancelContract') {
        {{ 'CANCEL_MODAL.CONTRACT.TITLE' | translate }}
      } @else if (data.mode === 'deleteService') {
        {{ 'CANCEL_MODAL.SERVICE.TITLE' | translate }}
      } @else {
        {{ 'CANCEL_MODAL.GENERIC.TITLE' | translate }}
      }
    </h1>
  </div>

  <mat-dialog-content id="cancel-description" class="cancel-modal-content">
    <main class="cancel-modal-text">
      @if (data.mode === 'unsubscribe') {
        <div class="text-center space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.BAJA.DESC_1' | translate }}</p>
          <p class="text-p">{{ 'CANCEL_MODAL.BAJA.DESC_2' | translate }}</p>
        </div>
      } @else if (data.mode === 'cancelContract') {
        <div class="space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.CONTRACT.DESC_1' | translate }}</p>
          <ol class="list-disc list-inside pl-5 space-y-3">
            <li [innerHTML]="'CANCEL_MODAL.CONTRACT.LIST.RECORD' | translate" class="text-p"></li>
            <li [innerHTML]="'CANCEL_MODAL.CONTRACT.LIST.COMM' | translate" class="text-p"></li>
            <li [innerHTML]="'CANCEL_MODAL.CONTRACT.LIST.NOTIFY' | translate" class="text-p"></li>
          </ol>
          <p class="text-p">{{ 'CANCEL_MODAL.CONTRACT.NOTE' | translate }}</p>
        </div>
      } @else if (data.mode === 'deleteService') {
        <div class="space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.SERVICE.DESC_1' | translate }}</p>
          <p class="text-p">{{ 'CANCEL_MODAL.SERVICE.SUBTITLE' | translate }}</p>
          <ol class="list-decimal list-inside text-left">
            <li [innerHTML]="'CANCEL_MODAL.SERVICE.LIST.CESSATION' | translate"></li>
            <li [innerHTML]="'CANCEL_MODAL.SERVICE.LIST.VISIBILITY' | translate"></li>
          </ol>
          <p class="text-p">
            {{ 'CANCEL_MODAL.SERVICE.IMPORTANT_TITLE' | translate }}
          </p>
          <p class="text-p">
            {{ 'CANCEL_MODAL.SERVICE.IMPORTANT_DESC' | translate }}
          </p>
        </div>
      } @else if (data.mode === 'deleteAdminGlobal') {
        <div class="space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.ADMIN_GLOBAL_DELETE' | translate }}</p>
        </div>
      } @else {
        <div>
          <p class="font-bold text-p">{{ 'CANCEL_MODAL.GENERIC.SUBTITLE' | translate }}</p>
          <ol class="list-decimal list-inside pl-5 text-label">
            <li>{{ 'CANCEL_MODAL.GENERIC.LIST.PROFILE' | translate }}</li>
            <li>{{ 'CANCEL_MODAL.GENERIC.LIST.CONTRACTS' | translate }}</li>
          </ol>
          <p class="text-p">{{ 'CANCEL_MODAL.GENERIC.NOTE' | translate }}</p>
        </div>
      }
    </main>
  </mat-dialog-content>

  <mat-dialog-actions class="cancel-modal-action-container">
    <app-button
      mat-dialog-close
      [label]="getPrimaryLabel() | translate"
      variant="secondary"
      [attr.aria-label]="'CANCEL_MODAL.ACCESSIBILITY.KEEP' | translate"
    >
    </app-button>
    <app-button
      (click)="toCancel()"
      [label]="getSecondaryLabel() | translate"
      variant="danger"
      class="mb-10"
      [attr.aria-label]="'CANCEL_MODAL.ACCESSIBILITY.CONFIRM_DELETE' | translate"
    >
    </app-button>
  </mat-dialog-actions>
</section>
