<div class="cancel-modal-container">
  <div class="w-full flex justify-end p-10">
    <svg
      mat-dialog-close
      xmlns="http://www.w3.org/2000/svg"
      class="modal-close-btn"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="4"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>

  <div class="cancel-modal-title-container">
    <h1 class="cancel-modal-title">
      @if (data.modo === 'baja') {
        {{ 'CANCEL_MODAL.BAJA.TITLE' | translate }}
      } @else if (data.modo === 'cancelarContrato') {
        {{ 'CANCEL_MODAL.CONTRACT.TITLE' | translate }}
      } @else if (data.modo === 'eliminarServicio') {
        {{ 'CANCEL_MODAL.SERVICE.TITLE' | translate }}
      } @else {
        {{ 'CANCEL_MODAL.GENERIC.TITLE' | translate }}
      }
    </h1>
  </div>

  <mat-dialog-content class="cancel-modal-content">
    <div class="cancel-modal-text">
      @if (data.modo === 'baja') {
        <div class="text-center space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.BAJA.DESC_1' | translate }}</p>
          <p class="text-p">{{ 'CANCEL_MODAL.BAJA.DESC_2' | translate }}</p>
        </div>
      } @else if (data.modo === 'cancelarContrato') {
        <div class="space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.CONTRACT.DESC_1' | translate }}</p>
          <ul class="list-disc pl-5 space-y-3">
            <li [innerHTML]="'CANCEL_MODAL.CONTRACT.LIST.RECORD' | translate"></li>
            <li [innerHTML]="'CANCEL_MODAL.CONTRACT.LIST.COMM' | translate"></li>
            <li [innerHTML]="'CANCEL_MODAL.CONTRACT.LIST.NOTIFY' | translate"></li>
          </ul>
          <p class="text-p">{{ 'CANCEL_MODAL.CONTRACT.NOTE' | translate }}</p>
        </div>
      } @else if (data.modo === 'eliminarServicio') {
        <div class="space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.SERVICE.DESC_1' | translate }}</p>
          <p class="text-p">{{ 'CANCEL_MODAL.SERVICE.SUBTITLE' | translate }}</p>
          <ol class="list-decimal pl-5 space-y-3 text-label">
            <li [innerHTML]="'CANCEL_MODAL.SERVICE.LIST.CESSATION' | translate"></li>
            <li [innerHTML]="'CANCEL_MODAL.SERVICE.LIST.VISIBILITY' | translate"></li>
          </ol>
          <p class="text-p">
            {{ 'CANCEL_MODAL.SERVICE.IMPORTANT_TITLE' | translate }}
          </p>
          <p>{{ 'CANCEL_MODAL.SERVICE.IMPORTANT_DESC' | translate }}</p>
        </div>
      } @else if (data.modo === 'eliminarAdminGlobal') {
        <div class="space-y-4">
          <p class="text-p">{{ 'CANCEL_MODAL.ADMIN_GLOBAL_DELETE' | translate }}</p>
        </div>
      } @else {
        <div class="space-y-4">
          <p class="font-bold text-p">{{ 'CANCEL_MODAL.GENERIC.SUBTITLE' | translate }}</p>
          <ol class="list-decimal pl-5 space-y-4 text-label">
            <li>{{ 'CANCEL_MODAL.GENERIC.LIST.PROFILE' | translate }}</li>
            <li>{{ 'CANCEL_MODAL.GENERIC.LIST.CONTRACTS' | translate }}</li>
          </ol>
          <p class="text-p">{{ 'CANCEL_MODAL.GENERIC.NOTE' | translate }}</p>
        </div>
      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="cancel-modal-action-container">
    <app-button mat-dialog-close [label]="getPrimaryLabel() | translate" variant="secondary">
    </app-button>
    <app-button
      (click)="cancelar()"
      [label]="getSecondaryLabel() | translate"
      variant="danger"
      class="mb-10"
    >
    </app-button>
  </mat-dialog-actions>
</div>
