<nav class="secondary-navbar" [attr.aria-label]="'MAIN_MENU.TITLE' | translate">
  <h1 class="sr-only">
    {{ 'MAIN_MENU.TITLE' | translate }}
  </h1>

  <div class="secondary-nav-container" role="menubar">
    @if (rol === 'client') {
      <app-button
        [label]="'MAIN_MENU.CLIENT.SEARCH_COMPANIES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/services-directory']"
      ></app-button>
    } @else if (rol === 'business') {
      <app-button
        [label]="'MAIN_MENU.BUSINESS.MANAGE_SERVICES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/admin-services']"
      ></app-button>
    } @else if (rol === 'administrator') {
      <app-button
        [label]="'MAIN_MENU.ADMIN.DASHBOARD' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/dashboard']"
      ></app-button>

      <app-button
        [label]="'MAIN_MENU.ADMIN.MANAGE_USERS' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/admin-management']"
        [queryParams]="{ type: 'client' }"
      ></app-button>

      <app-button
        [label]="'MAIN_MENU.ADMIN.MANAGE_COMPANIES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/admin-management']"
        [queryParams]="{ type: 'business' }"
      ></app-button>

      <app-button
        [label]="'MAIN_MENU.ADMIN.MANAGE_SERVICES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/global-services']"
      ></app-button>

      <app-button
        [label]="'MAIN_MENU.ADMIN.MANAGE_SCHEDULES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/global-times']"
      ></app-button>

      <app-button
        [label]="'MAIN_MENU.CLIENT.MY_SERVICES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/global-contracts']"
      ></app-button>
    }

    @if (rol != 'administrator') {
      <app-button
        [label]="'MAIN_MENU.CLIENT.MY_SERVICES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/contract']"
      ></app-button>

      <app-button
        [label]="'MAIN_MENU.COMMON.ACTIVITIES' | translate"
        variant="primary"
        class="nav-btn animation-opacity"
        [link]="['/activities']"
      ></app-button>
    }
  </div>
</nav>
