<header
  class="button-back-container"
  [attr.aria-label]="'CONTACT.ACCESSIBILITY.BACK_NAV' | translate"
>
  <app-buttonback></app-buttonback>
</header>

<section class="contact-container" role="main" aria-labelledby="contact-page-title">
  <h1 id="contact-page-title" class="contact-title">
    {{ 'CONTACT.TITLE' | translate }}
  </h1>

  <form
    [formGroup]="contactForm"
    (ngSubmit)="submitContactForm()"
    class="contact-form"
    [attr.aria-label]="'CONTACT.ACCESSIBILITY.FORM_LABEL' | translate"
  >
    <div class="contact-form-divs">
      <app-inputs
        name="username"
        [label]="'CONTACT.FORM.NAME' | translate"
        [control]="getCtrl('username')"
        class="w-full"
        [attr.aria-invalid]="getCtrl('username').invalid && getCtrl('username').touched"
      ></app-inputs>
      @if (getCtrl('username').invalid && getCtrl('username').touched) {
        <span class="contact-form-error" role="alert">
          {{ 'CONTACT.ERRORS.NAME' | translate }}
        </span>
      }
    </div>

    <div class="contact-form-divs">
      <app-inputs
        name="email"
        [label]="'CONTACT.FORM.EMAIL' | translate"
        [control]="getCtrl('email')"
        class="w-full"
        [attr.aria-invalid]="getCtrl('email').invalid && getCtrl('email').touched"
      ></app-inputs>
      @if (getCtrl('email').invalid && getCtrl('email').touched) {
        <span class="contact-form-error" role="alert">
          {{ 'CONTACT.ERRORS.EMAIL' | translate }}
        </span>
      }
    </div>

    <div class="contact-form-divs">
      <app-inputs
        name="topic"
        [label]="'CONTACT.FORM.TOPIC' | translate"
        [control]="getCtrl('topic')"
        class="w-full"
        [attr.aria-invalid]="getCtrl('topic').invalid && getCtrl('topic').touched"
      ></app-inputs>

      @if (getCtrl('topic').invalid && getCtrl('topic').touched) {
        <span class="contact-form-error" role="alert">
          {{ 'CONTACT.ERRORS.TOPIC' | translate }}
        </span>
      }
    </div>

    <div class="contact-form-divs">
      <app-inputs
        name="message"
        type="textarea"
        [label]="'CONTACT.FORM.MESSAGE' | translate"
        [control]="getCtrl('message')"
        class="w-full"
        [attr.aria-invalid]="getCtrl('message').invalid && getCtrl('message').touched"
      ></app-inputs>

      @if (getCtrl('message').invalid && getCtrl('message').touched) {
        <span class="contact-form-error" role="alert">
          {{ 'CONTACT.ERRORS.MESSAGE' | translate }}
        </span>
      }
    </div>

    <app-button
      [label]="'CONTACT.FORM.SEND' | translate"
      variant="primary"
      type="submit"
      class="contact-form-btn animate-pulse"
      [attr.aria-label]="'CONTACT.ACCESSIBILITY.SEND_BTN' | translate"
    ></app-button>
  </form>
</section>