<section class="landing-container" role="main">
  @if(isLoading){
    <div class="animate-pulse">
      
      <section class="hero-section flex items-center justify-center bg-gray-200 dark:bg-gray-800" style="min-height: 500px;">
        <div class="hero-text-container flex flex-col items-center gap-4">
          <div class="h-12 w-64 bg-gray-300 dark:bg-gray-700 rounded-lg"></div>
          <div class="h-6 w-48 bg-gray-300 dark:bg-gray-700 rounded-lg"></div>
        </div>
      </section>

      <section class="services-section">
        <div class="h-8 w-40 bg-gray-200 dark:bg-gray-800 rounded mx-auto mb-10"></div>

        <div class="services-grid">
          @for (i of [1,2,3]; track i) {
            <div class="h-80 w-full bg-gray-100 dark:bg-gray-800 rounded-2xl border border-gray-200 dark:border-gray-700"></div>
          }
        </div>

        <footer class="flex justify-center mt-10">
          <div class="h-12 w-44 bg-gray-200 dark:bg-gray-800 rounded-full"></div>
        </footer>
      </section>
    </div>

  } @else {
    <section class="hero-section" aria-labelledby="hero-main-title">
      <picture>
        <source srcset="assets/img/hero/hero-2xl-laptop.webp" media="(min-width: 2561px)" />
        <source srcset="assets/img/hero/hero-xl-laptop.webp" media="(min-width: 1921px)" />
        <source srcset="assets/img/hero/hero-laptop.webp" media="(min-width: 1025px)" />
        <source srcset="assets/img/hero/hero-tablet.webp" media="(min-width: 641px)" />
        <img
          src="assets/img/hero/hero-mobile.webp"
          [alt]="'LANDING.HERO.ALT' | translate"
          class="hero-image"
        />
      </picture>
      <div class="hero-text-container animate-text">
        <h1 id="hero-main-title" class="hero-title">
          {{ 'LANDING.HERO.TITLE' | translate }}<br />
          <span class="hero-subtitle">{{ 'LANDING.HERO.SUBTITLE' | translate }}</span>
        </h1>
      </div>
    </section>
  
    <section class="services-section" aria-labelledby="services-main-title">
      <h2 id="services-main-title" class="services-title">
        {{ 'LANDING.SERVICES' | translate }}
      </h2>
  
      <main class="services-grid" role="list" [attr.aria-label]="'LANDING.SERVICES' | translate">
        @for (item of cardsdata; track item.title; let i = $index) {
          <app-cards-landing
            role="listitem"
            [title]="item.title"
            [description]="item.description"
            [image]="item.image"
            [class]="i === 2 ? 'services-card-special' : ''"
          >
          </app-cards-landing>
        }
      </main>
  
      <footer class="register-btn">
        <app-button
          [label]="'LANDING.REGISTER' | translate"
          variant="primary"
          (onClick)="openModal()"
          class="register-btn animate-pulse"
          [attr.aria-label]="'LANDING.ACCESSIBILITY.REGISTER_BTN' | translate"
        ></app-button>
      </footer>
    </section>
  }
</section>