<nav class="nav-container" [attr.aria-label]="'NAVBAR.ACCESSIBILITY.MAIN_NAV' | translate">
  <div class="flex items-center">
    <a
      [routerLink]="homeRoute"
      (click)="closeMenu()"
      class="cursor-pointer"
      tabindex="0"
      role="link"
      [attr.aria-label]="'NAVBAR.ACCESSIBILITY.GO_HOME' | translate"
    >
      <picture>
        <source srcset="assets/img/logo/logo.webp" media="(min-width: 1024px)" />
        <source srcset="assets/img/logo/logo.webp" media="(min-width: 768px)" />
        <img src="assets/img/logo/logo_peque.webp" alt="CuidaDos Logo" class="h-20 lg:h-22" />
      </picture>
    </a>
  </div>

  <div class="flex md:hidden">
    <button
      (click)="toggleMenu()"
      class="nav-menu-icon"
      [attr.aria-expanded]="isMenuOpen"
      aria-controls="main-nav-menu"
      [attr.aria-label]="
        (isMenuOpen ? 'NAVBAR.ACCESSIBILITY.CLOSE_MENU' : 'NAVBAR.ACCESSIBILITY.OPEN_MENU')
          | translate
      "
    >
      <lucide-icon name="menu" class="w-4 h-20" aria-hidden="true"></lucide-icon>
    </button>
  </div>

  <div
    id="main-nav-menu"
    class="nav-menu-unified"
    [ngClass]="{ 'hidden md:flex': !isMenuOpen, flex: isMenuOpen }"
  >
    <div class="nav-common-links-container">
      <a
        [routerLink]="homeRoute"
        routerLinkActive="nav-active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
        class="nav-text"
      >
        {{ 'NAVBAR.HOME' | translate }}
      </a>
      <a
        [routerLink]="['/contact']"
        class="nav-text"
        routerLinkActive="nav-active"
        (click)="closeMenu()"
      >
        {{ 'NAVBAR.CONTACT' | translate }}
      </a>
      <a
        [routerLink]="['/about-us']"
        class="nav-text"
        routerLinkActive="nav-active"
        (click)="closeMenu()"
      >
        {{ 'NAVBAR.ABOUT' | translate }}
      </a>
      <a
        [routerLink]="['/manuals']"
        class="nav-text"
        routerLinkActive="nav-active"
        (click)="closeMenu()"
      >
        {{ 'NAVBAR.MANUALS' | translate }}
      </a>
    </div>

    @if (authService.isAuthenticated()) {
      <div class="nav-authenticated-wrapper">
        <button
          [routerLink]="['/messages']"
          routerLinkActive="text-accent dark:text-white scale-120"
          class="nav-icon-container transition-all"
          (click)="closeMenu()"
          [attr.aria-label]="
            ('NAVBAR.MESSAGES' | translate) +
            ((countMensajes$ | async)
              ? ': ' +
                (countMensajes$ | async) +
                ' ' +
                ('NAVBAR.ACCESSIBILITY.NEW_ITEMS' | translate)
              : '')
          "
        >
          <lucide-icon name="mail" class="nav-icon-style" aria-hidden="true"></lucide-icon>
          @if (countMensajes$ | async; as countMensajes) {
            <span class="nav-badge" aria-hidden="true">{{ countMensajes }}</span>
          }
        </button>

        <button
          [routerLink]="['/notifications']"
          routerLinkActive="text-accent dark:text-white scale-120"
          class="nav-icon-container transition-all"
          (click)="closeMenu()"
          [attr.aria-label]="
            ('NAVBAR.NOTIFICATIONS' | translate) +
            ((countNotificaciones$ | async)
              ? ': ' +
                (countNotificaciones$ | async) +
                ' ' +
                ('NAVBAR.ACCESSIBILITY.NEW_ITEMS' | translate)
              : '')
          "
        >
          <lucide-icon name="bell" class="nav-icon-style" aria-hidden="true"></lucide-icon>
          @if (countNotificaciones$ | async; as countNotis) {
            <span class="nav-badge" aria-hidden="true">{{ countNotis }}</span>
          }
        </button>

        <button
          [routerLink]="['/modify-profile']"
          routerLinkActive="text-accent dark:text-white scale-120"
          class="nav-icon-container transition-all"
          (click)="closeMenu()"
          [attr.aria-label]="'NAVBAR.PROFILE' | translate"
        >
          <lucide-icon name="user" class="nav-icon-style" aria-hidden="true"></lucide-icon>
        </button>

        <app-button
          [label]="'NAVBAR.LOGOUT' | translate"
          variant="primary"
          size="lg"
          class="md:w-auto mt-4 md:mt-0"
          (onClick)="logout()"
        ></app-button>
      </div>
    } @else {
      <div class="nav-guest-wrapper">
        <a class="nav-text cursor-pointer" (click)="registerFunction()">
          {{ 'NAVBAR.REGISTER' | translate }}
        </a>
        <app-button
          [label]="'NAVBAR.LOGIN' | translate"
          variant="primary"
          class="md:w-auto mt-2 md:mt-0"
          (onClick)="startSession()"
        ></app-button>
      </div>
    }
    <app-dark-mode-btn class="mt-4 md:mt-0"></app-dark-mode-btn>
    <div
      class="flex flex-row gap-4 items-center"
      [attr.aria-label]="'FOOTER.ACCESSIBILITY.LANG_SELECTOR' | translate"
    >
      <button
        (click)="changeLanguage('es')"
        class="nav-lang-text"
        [attr.aria-label]="'FOOTER.ACCESSIBILITY.CHANGE_ES' | translate"
        type="button"
      >
        ES
      </button>
      <span class="nav-lang-text" aria-hidden="true">|</span>
      <button
        (click)="changeLanguage('en')"
        class="nav-lang-text"
        [attr.aria-label]="'FOOTER.ACCESSIBILITY.CHANGE_EN' | translate"
        type="button"
      >
        EN
      </button>
    </div>
  </div>
</nav>
