<div class="animate-cards cards-landing-container">
  <div class="cards-landing-img-container">
    <img [ngSrc]="imagen()" [alt]="titulo() | translate" class="cards-landing-img" />
  </div>
  <div [class]="cardClasses()">
    <h2 class="cards-landing-title">{{ titulo() | translate }}</h2>
    @if (cargo()) {
      <label class="cards-landing-cargo">
        {{ cargo() | translate }}
      </label>
    }
    <p class="cards-landing-description">{{ descripcion() | translate }}</p>
  </div>
</div>
