<article class="animate-cards cards-landing-container" [attr.aria-labelledby]="'card-title-' + titulo()">
  <div class="cards-landing-img-container">
    <img [src]="imagen()" [alt]="titulo() | translate" class="cards-landing-img" />
  </div>
  <div class="cards-text-container">
    <h2 [id]="'card-title-' + titulo()" class="cards-landing-title">{{ titulo() | translate }}</h2>
    @if (cargo()) {
      <label class="cards-landing-cargo">
        {{ cargo() | translate }}
      </label>
    }
    <p class="cards-landing-description">{{ descripcion() | translate }}</p>
  </div>
</article>
