<article
  class="animate-cards cards-landing-container"
  [attr.aria-labelledby]="'card-title-' + title()"
>
  <div class="cards-landing-img-container">
    <img [src]="image()" [alt]="title() | translate" class="cards-landing-img" />
  </div>
  <div class="cards-text-container">
    <h2 [id]="'card-title-' + title()" class="cards-landing-title">{{ title() | translate }}</h2>
    @if (charge()) {
      <label class="cards-landing-cargo">
        {{ charge() | translate }}
      </label>
    }
    <p class="cards-landing-description">{{ description() | translate }}</p>
  </div>
</article>
