<section
  class="directory-main"
  role="main"
  [attr.aria-label]="'SEARCH_BUSINESS.ACCESSIBILITY.MAIN_SECTION' | translate"
>
  <div class="directory-text-container">
    <h1 id="directory-main-title" class="directory-title">{{ 'DIRECTORY.TITLE' | translate }}</h1>
    <p id="directory-main-title" class="directory-subtitle">
      {{ 'DIRECTORY.SUBTITLE' | translate }}
    </p>
  </div>
  <div
    class="directory-container"
    role="list"
    [attr.aria-label]="'SEARCH_BUSINESS.ACCESSIBILITY.RESULTS_LIST' | translate"
  >
    @if (allServices() === null) {
      @for (item of [1, 2, 3, 4, 5, 6]; track item) {
        <app-card-skeleton></app-card-skeleton>
      }
    } @else {
      @for (service of allServices(); track service.id_service) {
        <main
          class="directory-card-container"
          role="listitem"
          [attr.aria-labelledby]="'service-id-' + service.id_service"
        >
          <header class="directory-card-header">
            <div
              class="w-14 h-14 flex items-center justify-center rounded-full bg-primary/10 dark:bg-surface/10"
            >
              <lucide-icon
                [img]="iconMap[service.icon_name || 'circleCheck']"
                size="32"
                class="text-primary dark:text-surface pointer-events-none"
              >
              </lucide-icon>
            </div>

            <h2 [id]="'service-name-' + service.name" class="directory-bssn-name text-h2 mb-0">
              {{ service.name | titlecase }}
            </h2>
          </header>

          <section>
            <div class="w-full items-center text-center">
              <label class="directory-description-title-section text-label">
                {{ 'SEARCH_BUSINESS.CARD.DESCRIPTION' | translate }}
              </label>
            </div>
            <p class="directory-description-section">{{ service.description }}</p>
          </section>

          <footer class="directory-card-btn-container">
            <app-button
              [label]="'SEARCH_BUSINESS.BTN_CONTRACT' | translate"
              variant="primary"
              class="flex-1"
              (click)="showOffersByService(service)"
              [attr.aria-label]="('SEARCH_BUSINESS.BTN_CONTRACT' | translate) + ': ' + service.name"
            >
            </app-button>
          </footer>
        </main>
      } @empty {
        <main class="directory-no-bssns" role="status" aria-live="polite">
          {{ 'SEARCH_BUSINESS.LIST.EMPTY' | translate }}
        </main>
      }
    }
  </div>
</section>
